.footFooter {
    position: absolute;
    bottom: 1.5vmax;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .legal {
        gap: 1.5vmax;

        a {
            position: relative;
            color: var(--secColor);
            font-weight: 600;
            text-transform: uppercase;
            transition: all .5s cubic-bezier(.0, 0.5, .5, 1);
            font-size: 1.1vmax;
            opacity: 0.6;

            --origin: center;
            --scale: 0;

            &:focus-visible {
                color: var(--secColor);
                opacity: 1;

                &::before {
                    background-color: var(--paleAccentTwo);
                    transition: all .5s cubic-bezier(.0, 0.5, .5, 1);
                    transform: scale(1);
                }
            }

            &:hover {
                opacity: 0.9;
                color: var(--priColor);
            }

            &:active {
                color: var(--priColor);

                &::before {
                    background-color: var(--accent);
                    transition: all .5s cubic-bezier(.0, 0.5, .5, 1);
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: -0.5vmax;

                border-top-left-radius: .3vmax;
                border-top-right-radius: .3vmax;
                border-bottom-left-radius: .3vmax;
                border-bottom-right-radius: .3vmax;
                background-color: var(--paleAccentTwo);

                transform: scaleX(var(--scale));
                transition: transform .5s cubic-bezier(.0, 0.5, .5, 1);
                transform-origin: var(--origin);
                transition-delay: transform .35s;

                z-index: -2;
            }

            &:first-child {
                &::before {
                    border-top-left-radius: 1.3vmax;
                    border-top-right-radius: .3vmax;
                    border-bottom-left-radius: .3vmax;
                    border-bottom-right-radius: .3vmax;
                }
            }

            &:last-child {
                &::before {
                    border-top-left-radius: .3vmax;
                    border-top-right-radius: .3vmax;
                    border-bottom-left-radius: .3vmax;
                    border-bottom-right-radius: 1.3vmax;
                }
            }
        }
    }

    .socials {
        gap: 0.3vmax;

        legend {
            transition: all .5s cubic-bezier(.0, 0.5, .5, 1);
            text-transform: uppercase;
            color: var(--secColor);
            opacity: 0.6;
            font-size: 1.1vmax;
            font-weight: 600;
            margin-right: 1vmax;

            &:hover {
                opacity: 1;
                color: var(--secColor);
                transition: 300ms all ease;
                cursor: default;
            }
        }

        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                inset: -0.35vmax;
                border-radius: 50%;
                background-color: var(--accent);
                opacity: 0;
                position: absolute;
                transition: scale .8s cubic-bezier(.19, 1, .22, 1), opacity .3s linear, background-color .5s cubic-bezier(.0, 0.5, .5, 1);
                transform-origin: center;
                scale: 0;
                z-index: -1;
            }

            &:focus-visible {
                &::before {
                    scale: 0.9;
                    opacity: 1;
                }

                svg {
                    fill: var(--priColor);
                }
            }

            &:hover {
                &::before {
                    scale: 1;
                    opacity: 1;
                }

                svg {
                    fill: var(--priColor);
                }
            }

            &:active {
                &::before {
                    background-color: var(--priColor);
                }

                svg {
                    fill: var(--accent);
                }
            }
        }

        svg {
            height: 3vmax;
            width: 3vmax;
            fill: var(--tertColor);
            transition: all .5s cubic-bezier(.0, 0.5, .5, 1);

            &#twitter, &#git {
                height: 2.5vmax;
                width: 2.5vmax;
            }
        }
    }

    .footerLanguage {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5vmax;

        .divider {
            height: 2vmax;
            background: var(--accent);
            width: .2rem;
        }

        a {
            position: relative;
            height: 1.5vmax;
            color: var(--secColor);
            font-weight: 600;
            text-transform: uppercase;
            transition: 300ms all ease;
            font-size: 1.1vmax;
            opacity: 0.6;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s cubic-bezier(.0, 0.5, .5, 1);

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2vmax;
                transition: width .7s cubic-bezier(.20, 0.5, .3, 1), background-color .5s cubic-bezier(.0, 0.5, .5, 1);
                z-index: -1;
            }

            &:focus-visible{
                opacity: 1;
                color: var(--secColor);

                &::before {
                    width: 130%;
                    background-color: var(--paleAccentTwo);
                }
            }

            &:hover {
                opacity: 1;
                color: var(--priColor);

                &::before {
                    width: 130%;
                    background-color: var(--accent);
                }
            }

            &:active{
                color: var(--accent);
                &::before {
                    width: 130%;
                    background-color: var(--priColor);
                }
            }

            &.english {
                &::before {
                    border-top-left-radius: 1vmax;
                    border-bottom-left-radius: 1vmax;
                    right: -.5vmax;
                }
            }

            &.macedonian {
                &::before {
                    border-top-right-radius: 1vmax;
                    border-bottom-right-radius: 1vmax;
                    left: -.5vmax;
                }

                &:hover {
                    &::before {
                        width: 120%;
                    }
                }
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: flex;
        justify-content: center;

        &:hover {
            color: var(--secColor);
        }
    }
}

