.footerHero {
    width: 30vmax;
    height: 30vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    .footerLogo {
        position: relative;
        top: -1vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        outline: 0.1vmax solid transparent;
        background-color: var(--tpPri);
        
        transform-style: preserve-3d; // 3D stuff
        transform: perspective(50vmax);
        transform: rotateY(0deg) rotateX(0deg);

        &::before {
            content: '';
            position: absolute;
            border-radius: inherit;
            inset: -.5vmax;
            background-image: linear-gradient(45deg, var(--accent), var(--tertAccent), var(--secAccent));
            transform: translateZ(-1vmax);
            box-shadow: rgba(0, 0, 0, 0.35) 0 0.5vmax 1.5vmax;
        }

        &::after {
            content: '';
            position: absolute;
            border-radius: inherit;
            inset: -1vmax;
            background-color: var(--tertColor);
            filter: blur(5vmax);
            transform: translateZ(-1.2vmax);
        }

        svg{
            #linearLogoFooter{
                :first-child {
                    stop-color: var(--logoAccentOne)
                }
    
                :nth-child(2) {
                    stop-color: var(--logoAccentTwo)
                }
            }
        }
    }
}