.getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
        position: relative;
        left: 3.7rem;
        top: -3.7rem;
        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: .2rem;
        color: var(--priColor);
        user-select: none; 
        text-shadow: .1rem .1rem 0 var(--secColor);
    }

    a{
        position: relative;
        top: -3rem;
        left: 3rem;
        font-size: 3.5rem;
        line-height: 1.2;
        font-weight: 600;
        color: var(--secColor);
        letter-spacing: -0.2rem;
        font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        text-transform: lowercase;
        text-shadow: .1rem .1rem 0 var(--tpPri);

        &.adress{
            margin-top: 1rem;
            letter-spacing: -0.3rem;
        }
    }
}