.categories-section {
  border: 1px solid #ccc;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.category-item a {
  color: #333;
  text-decoration: none;
}

.productsMain {
  display: none;
}

.categoriesPageContainer {
  width: 85%;
  margin-inline: auto;
  margin-top: 3%;

  #selectedCategory {
    position: relative;
    text-align: center;
    margin-inline: auto;
    margin-bottom: .5%;
    padding: .7rem;

    border: 0.25rem solid var(--paleAccentThree);
    backdrop-filter: blur(0.5rem);
    overflow: hidden;

    border-top-left-radius: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 2rem;

    letter-spacing: -0.05rem;
    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    text-shadow: 0.1rem 0.1rem 0 var(--tpPri);

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background: var(--priColor);
      opacity: 70%;
      z-index: -5;
    }
  }

  .filtersAndCategories {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-inline: auto;
    // margin-bottom: .5%;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;

    border: 0.25rem solid var(--paleAccentThree);
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
    overflow: hidden;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 2rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background: var(--priColor);
      opacity: 70%;
      z-index: -5;
    }
  }

  .scrollableSubCats {
    height: 12vmax;
    width: 80%;
    border-radius: 1rem;
    backdrop-filter: blur(.3rem);
    margin-inline: 0;
    padding: .5rem;

    .subCatsScrollUL {
      border-top: 0;
      border-bottom: 0;
      border: 0;
      backdrop-filter: none;

      .scrollCatLiTwo {
        &::before {
          background: var(--paleAccent);
        }
      }
    }

    .scrollCatButtons {
      box-shadow: none;

      span {
        &::before {
          background: none;
        }
      }
    }
  }

  .mainContentContainer {
    display: flex;
    // margin-top: 3%;
    
    padding: 1.5rem;
    padding-top: 4rem;

    border: 0.25rem solid var(--paleAccentThree);
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
    overflow: hidden;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      background: var(--priColor);
      opacity: 70%;
      z-index: -5;
    }
  }

  #products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 1.5rem;
    width: 100%;
    flex-wrap: wrap;

    ul {
      li {
        width: 20rem;
        height: 25rem;
      }
    }
  }
}