@use '../../abstracts';

.categories-section {
  border: 1px solid #ccc;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.category-item a {
  color: #333;
  text-decoration: none;
}

.productsMain{
  display: none;
}