///////////  STARS  ///////////// 

.starsDiv {
    display: flex;
    color: var(--secAccent);

    svg {
        height: 2.5rem;
        width: 2.5rem;

        .starGradient{
            stop{
                transition: all .7s cubic-bezier(.19, 1, .22, 1);
            }
        }

        &.hover {
            .starGradient{
                stop{
                    stop-color: orange;
                }
            }
        }

        &:hover~svg {
            .starGradient{
                stop{
                    stop-color: gray;
                }
            }
        }
    }
}