///////////  STARS  ///////////// 

.starsDiv {
    display: flex;
    color: var(--secAccent);

    svg {
        height: 2.5rem;
        width: 2.5rem;
    }

    &.editStars {
        svg {
            cursor: pointer;
            transition: scale .1s;

            .starGradient {
                stop {
                    transition: all .7s cubic-bezier(.19, 1, .22, 1);
                }
            }

            &.hover {
                .starGradient {
                    stop {
                        stop-color: orange;
                    }
                }
            }

            &:active{
                scale: 1.25;
                .starGradient {
                    stop {
                        stop-color: var(--accent);
                    }
                }
            }

            &:hover~svg {
                .starGradient {
                    stop {
                        stop-color: gray;
                    }
                }
            }
        }
    }
}