@use '../../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

header {
    height: 30vmax;
    position: relative;
    display: grid;
    place-content: center;
    align-items: center;

    .headerGradient {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)), radial-gradient(circle at right bottom, transparent 70%, rgba(0, 0, 0, 0), var(--tpPri) 100%);
    }
}

.headerBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;

    svg {
        position: absolute;
        fill: transparent;
        // transform: rotate(180deg);

        #a {
            :first-child {
                stop-color: var(--accent)
            }

            :nth-child(2) {
                stop-color: var(--secAccent)
            }
        }

        #b {
            :first-child {
                stop-color: var(--tertAccent)
            }

            :nth-child(2) {
                stop-color: var(--additionallAccent)
            }
        }
        #c {
            :first-child {
                stop-color: var(--secAccent)
            }

            :nth-child(2) {
                stop-color: var(--tertAccent)
            }
        }

        #polgOne {
            fill: var(--accent);
        }

        #polgTwo {
            fill: var(--secAccent);
        }

        #polgThree {
            fill: var(--tertAccent);
        }
    }
}

.divider {
    position: relative;
    border-left: 0.2rem solid var(--accent);
    height: 1.8rem;
    border-radius: 1rem;
    margin: 0 0.2vrem 0 0.2rem;
}

.material-symbols-outlined {
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 550;
    color: var(--secColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    font-family: 'Rubik Microbe', cursive;
    color: var(--tertAccent);
    font-size: 3vmax;
    top: 1vmax;
    left: 1vmax;
    mix-blend-mode: difference;
    pointer-events: none;
}