@use '../../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

header {
    height: 25vmax;
    position: relative;
    display: grid;
    place-content: center;
    align-items: center;

    // display: none;

    .headerGradient {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--tpPri)), radial-gradient(circle at right bottom, transparent 70%, rgba(0, 0, 0, 0), var(--tpPri) 150%);
    }
}

.headerBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
        position: absolute;
        fill: transparent;

        #a {
            :first-child {
                stop-color: var(--accent)
            }

            :nth-child(2) {
                stop-color: var(--secAccent)
            }
        }

        #b {
            :first-child {
                stop-color: var(--tertAccent)
            }

            :nth-child(2) {
                stop-color: var(--additionallAccent)
            }
        }

        #c {
            :first-child {
                stop-color: var(--secAccent)
            }

            :nth-child(2) {
                stop-color: var(--tertAccent)
            }
        }

        #polgOne {
            fill: var(--accent);
        }

        #polgTwo {
            fill: var(--secAccent);
        }

        #polgThree {
            fill: var(--tertAccent);
        }
    }
}

.material-symbols-outlined {
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    font-weight: 550;
    color: var(--secColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    top: .5vmax;
    left: .5vmax;
    width: 10rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    svg {
        width: 100%;
        height: 100%;
        z-index: 1;

        &.mobileLogo {
            display: none;
            border-radius: 50%;
            backdrop-filter: blur(1rem);

            #headerLogoGradientMobile{
                :first-child {
                    stop-color: var(--logoReverseAccentOne)
                }

                :nth-child(2) {
                    stop-color: var(--logoReverseAccentTwo)
                }
            }
        }

        &.standardLogo {
            #smallLogoGradient {
                :first-child {
                    stop-color: var(--logoAccentOne)
                }

                :nth-child(2) {
                    stop-color: var(--logoAccentTwo)
                }
            }

            .bigLogoGradientStandard {
                :first-child {
                    stop-color: var(--logoReverseAccentOne)
                }

                :nth-child(2) {
                    stop-color: var(--logoReverseAccentTwo)
                }
            }
        }
    }

    &.mobileOn {
        position: fixed;
        top: .5vmax;
        left: .5vmax;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            // SHOULD ANIMATE
            border-radius: 50%;

            &.mobileLogo {
                display: block;

                #smallLogoGradient {
                    :first-child {
                        stop-color: var(--logoAccentOne)
                    }

                    :nth-child(2) {
                        stop-color: var(--logoAccentTwo)
                    }
                }
            }

            &.standardLogo {
                display: none;
            }
        }
    }
}

@media (max-width: 1000px) {
    .logo {
        // SHOULD ANIMATE
        position: fixed;
        top: .5vmax;
        left: .5vmax;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            &.mobileLogo {
                display: block;
            }

            &.standardLogo {
                display: none;
            }
        }
    }
}