@use '../../abstracts' as *;

// NAVIGATION BAR

nav {
    position: fixed;
    right: 1.5vmax;
    top: 1vmax;
    user-select: none;
    background-color: var(--tpPri);
    backdrop-filter: blur(1vmax);
    border: 0.20rem solid var(--paleAccent);
    border-radius: 0.5vmax;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    z-index: 10;

    .divider {
        position: relative;
        border-radius: 1rem;
        width: .2rem;
        height: 1.7rem;
        background: linear-gradient(-45deg, var(--secAccent) 0%, var(--accent) 30%, var(--paleAccentTwo) 50%, var(--secAccent) 70%);
    }

    .navigationLists {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5vmax;
        margin: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
        transition: all 300ms ease;

        li {
            position: relative;
            .material-symbols-outlined {
                font-size: 1.7rem;
                transition: all .8s cubic-bezier(.19, 1, .22, 1);
            }

            ::before {
                content: '';
                inset: 0;
                position: absolute;
                filter: blur(2vmax);
                transition: 300ms all ease;
            }

            a {
                &:active {
                    span{
                        &.material-symbols-outlined {
                            color: var(--tertAccent);
                        }
                    }
                    
                    
                }

                &:focus-visible{
                    color: var(--accent);
                    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    
                    .material-symbols-outlined {
                        color: var(--accent);
                    }
    
                    ::before {
                        background-color: var(--accent);
                    }
                }
            }

            &:hover {
                color: var(--accent);
                transition: 300ms all ease;

                .material-symbols-outlined {
                    color: var(--accent);
                }

                ::before {
                    background-color: var(--accent);
                }
            }
        }
    }
}