@use '../../abstracts' as *;

// NAVIGATION BAR

nav {
    position: fixed;
    right: 1.5rem;
    min-width: 10rem;
    // left: 0;
    // right: 0;
    // max-width: 10rem;
    // margin-inline: auto;
    top: 1rem;
    user-select: none;
    background-color: var(--tpPri);
    backdrop-filter: blur(1rem);
    border: 0.20rem solid var(--paleAccentThree);
    border-top-left-radius: 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    z-index: 10;

    .navigationLists {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        transition: all .8s cubic-bezier(.19, 1, .22, 1);

        li {
            position: relative;

            .material-symbols-outlined {
                font-size: 1.7rem;

            }

            ::before {
                content: '';
                inset: 0;
                position: absolute;
                filter: blur(1.8rem);
                transition: all .8s cubic-bezier(.19, 1, .22, 1);
            }

            a {
                &:active {
                    .material-symbols-outlined {
                        // opacity: 0.6;
                        color: var(--secAccent);
                    }
                }

                &:focus-visible{
                    span {
                        color: var(--accent);
                    }
                }
            }

            &:hover {
                color: var(--accent);
                transition: all .8s cubic-bezier(.19, 1, .22, 1);

                .material-symbols-outlined {
                    color: var(--accent);
                }

                ::before {
                    background-color: var(--accent);
                }
            }
        }
    }
}