@use '../../abstracts' as *;

// NOTIFICATION CARD

.cartNotification {
    position: relative;
    // max-width: 10rem;
    border-radius: 0.3vmax;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right ,var(--accent), var(--secAccent));
    max-height: 0;
    color: black;

    ul {
        position: relative;
        padding: 0.3vmax;
    }

    .notifCancel {
        position: relative;
        bottom: -0.5vmax;
        width: 100%;
        color: red;
        background-color: white;
        font-size: 0.9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0.2vmax;
        border-radius: 0.5vmax;
        transition: 300ms all ease;
        margin-bottom: 0.7rem;

        &:hover {
            color: white;
            background-color: red;
            transition: 300ms all ease;
        }
    }
}