@use '../../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

// NOTIFICATION CARD

.cartNotification {
    position: relative;
    min-width: 10rem;
    border-radius: 0.3vmax;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right, var(--paleAccentTwo), var(--secAccent));
    color: black;
    display: grid;
    font-size: 1.1rem;
    grid-template-rows: 0fr;
    transition: 350ms all cubic-bezier(0.42, 0, 0.58, 1);
    overflow: hidden;

    ul {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        :first-child {
            margin-top: 0.2rem;
        }
    }

    .notifCancel {
        width: 90%;
        background-color: var(--tpPri);
        font-size: 1.1rem;
        // letter-spacing: 0.1rem;  
        font-family: 'Share Tech', sans-serif;
        padding: 0.2vmax;
        border-radius: 0.3vmax;
        transition: 300ms all ease;
        margin-block: 0.5rem;
        color: var(--secColor);
        border: 0.15rem solid var(--paleAccent);

        &:hover {
            color: var(--accent);
            background-color: var(--priColor);
            transition: 300ms all ease;
        }

        &:focus-visible  {
            border-color: var(--accent);
            background-color: var(--priColor);
            color: var(--accent);
        }

        &:active{
            border-color: var(--accent);
            opacity: 0.6;
        }
    }
}

.alertOn {
    grid-template-rows: 1fr;
}