@use '../../abstracts' as *;

// SEARCH BAR

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    position: relative;
    top: 0;
    width: 100%;
    height: 100%;

    border-top-left-radius: 2rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 2rem;

    border: 0.20rem solid var(--paleAccentThree);
    background-color: var(--tpPri);
    backdrop-filter: blur(2rem);

    overflow: hidden;
    transition: all .5s cubic-bezier(.19, 1, .22, 1);

    .search-bar {
        background: transparent;
        border: none;
        outline: none;
        color: var(--secColor);

        font-size: 1.4rem;
        text-indent: 1.2rem;
        letter-spacing: .05rem;
        font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-weight: 600;

        width: 100%;
        height: 100%;

        transition: all .5s cubic-bezier(.19, 1, .22, 1);

        &::selection {
            background: var(--accent);
            color: var(--priColor);
        }
    }

    button {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);

        &.searchButtons {
            margin-left: .3rem;
            display: none;
        }

        &.categoriesButton {
            margin-right: .65rem;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s cubic-bezier(.19, 1, .22, 1);
        }

        &::before {
            content: '';
            inset: 0;
            display: block;
            position: absolute;
            filter: blur(1.5rem);
            transition: all .5s cubic-bezier(.19, 1, .22, 1);
            z-index: -1;
        }


        &:focus-visible {
            color: var(--accent);

            .material-symbols-outlined {
                color: var(--accent);
            }

            &::before {
                background-color: var(--accent);
            }
        }

        &:hover {
            color: var(--accent);

            .material-symbols-outlined {
                color: var(--accent);
            }

            &::before {
                background-color: var(--accent);
            }
        }

        &:active {
            span {
                &.material-symbols-outlined {
                    color: var(--reverseAccent);
                }
            }
        }
    }

    .divider {
        position: relative;
        height: 75%;
        width: .25rem;
        border-radius: 1.5rem;
        margin-inline: .5rem;

        background: linear-gradient(to bottom, var(--accent) 0%, var(--secAccent) 50%, var(--secAccent) 100%);
    }
}

.visible {
    display: block !important;
}

// SEACH BAR STATES

.active {
    border: 0.20rem solid var(--paleAccentTwo);
}

.opCt {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-bottom-left-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
}