@use '../../abstracts' as *;

// SEARCH FORM

.search-form {
    top: 13rem;
    height: 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    // display: none;
}