.image-uploader {
  border: .2rem dashed #ccc;
  padding: 1.5rem;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.user-settings-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  gap: 1.5rem;
  border: .15rem solid var(--accent);
  padding: 2.5rem;
  line-height: 2rem;
  
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    span.clickable-span {
      cursor: pointer;
      padding: .3rem .5rem;
      border-radius: .3rem;
      // DIME
      background-color: #007bff;
      color: white;
      font-size: 1.3rem;
      transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }
    
    span.clickable-span:hover {
      // DIME
      background-color: #0056b3;
      color: #ccc;
    }
  }

  .container-div {
    position: relative;
    // DIME
    background-color: rgb(245, 243, 244);
    border-radius: .5rem;
    padding: .5rem;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .user-settings-address{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .user-settings-password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  section {
    display: flex;
    gap: 5rem;
  }
  
  .submit-button {
    // DIME
    background-color: rgb(223, 116, 134);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .submit-button:hover {
    // DIME
    background-color: rgb(224, 142, 156);
  }

  .user-input {
    font-size: 1.1rem;
    text-indent: .7rem;
    background-color: transparent;
    color: var(--secColor);
    border: none;
    background-color: var(--tpPri4);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom: 0.15rem solid var(--tpSec2);
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
    height: 100%;
  
    &::selection {
      background: var(--accent);
      color: var(--priColor);
    }
  
    &:invalid:not(:placeholder-shown) {
      border-color: red;
  
      ~ {
        label {
          opacity: 1;
          color: var(--priColor);
          background: rgb(255, 50, 50);
          transform: translateY(-105%);
        }
      }
    }
  
    &:valid {
      border-color: var(--accent);
  
      ~ {
        label {
          opacity: 1;
          color: var(--priColor);
          background: var(--accent);
          transform: translateY(-105%);
        }
      }
    }
  
    &:focus {
      border-color: var(--accent);
  
      ~ {
        label {
          opacity: 1;
          color: var(--priColor);
          background: var(--accent);
          transform: translateY(-105%);
        }
      }
    }
  
    label {
      position: absolute;
      pointer-events: none;
      border-radius: .2rem;
      padding-inline: .3rem;
      transition: all .5s cubic-bezier(.19, 1, .22, 1);
      font-size: 1.1rem;
    }
  }
}
