///////////  FOOTER  ///////////// 

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--tpPri2);

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(to right, var(--reversePaleAccent), var(--paleAccentTwo),var(--reversePaleAccent));
        height: 0.2rem;
        width: 100%;
        margin-inline: auto;
        top: 0;
        left: 0;
        right: 0;
    }

    .footerBody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem 2rem;
        gap: 1rem;
        align-items: center;

        .footerLogo {
            $firstValue: 40%;
            $secondValue: 35rem;

            width: max($firstValue, $secondValue);
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;

            .logoContainer {
                position: relative;
                --origin-x: 0;
                --origin-y: 0;
                --opacity: 0;
                --hue: 50deg;
                --skew: 0deg;
                --radius: 50%;
                overflow: hidden;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: transform 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-radius 1s, backdrop-filter 1.5s, opacity 1.5s ease;
                    transform: translateX(calc(var(--origin-x) - 50%)) translateY(calc(var(--origin-y) - 50%)) skew(var(--skew));
                    border-radius: var(--radius);

                    @supports (backdrop-filter: hue-rotate() saturate(0)) {
                        backdrop-filter: hue-rotate(var(--hue)) saturate(2);
                    }

                    opacity: var(--opacity);
                }

                &::after {
                    width: 50%;
                    height: 60%;
                    z-index: 4;
                }

                &::before {
                    width: 55%;
                    height: 65%;
                    z-index: 5;
                }

                width: 100%;

                .bigFooterLogo {
                    filter: drop-shadow(.2rem .3rem .3rem rgb(0 0 0 / 0.4));
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 4;
                }
            }

            .socials {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-orientation: upright;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                background-color: var(--tpPri3);
                padding: .5rem;
                gap: .5rem;
                border-radius: .5rem;

                font-family: Matter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--tpPri4);
                    gap: .3rem;
                    border-radius: .5rem;

                    li {
                        &.socials-divider {
                            width: 60%;
                            height: .25rem;
                            border-radius: 2rem;
                            background: linear-gradient(to right, var(--reverseAccent), var(--accent));

                            &:nth-child(4) {
                                background: linear-gradient(to right, var(--accent), var(--reverseAccent));
                            }
                        }

                        a {
                            svg {
                                fill: var(--secColor);
                                width: 2.5rem;
                                height: 2.5rem;
                                transition: transform .2s ease-in-out;

                                &#git {
                                    width: 2.3rem;
                                }

                                &#twitter {
                                    width: 2.2rem;
                                }

                                path {
                                    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
                                    transform-origin: center;
                                }

                                .hoverPath {
                                    opacity: 0;
                                    transform: scale(0);
                                }
                            }

                            @media (min-width: 600px) {
                                &:focus-visible {
                                    svg {
                                        fill: var(--accent);
                                        outline: .2rem solid var(--accent);
                                        border-radius: .5rem;
                                        transform: scale(0.8);
                                    }
                                }

                                &:hover {
                                    svg {
                                        .hoverPath {
                                            opacity: 1;
                                            scale: 1;
                                            transform: scale(1);
                                        }

                                        .mainPath {
                                            opacity: 0;
                                            transform: scale(0);
                                        }
                                    }
                                }

                                &:active {
                                    border-color: var(--priColor);

                                    svg {
                                        fill: var(--priColor);
                                        transform: scale(0.8);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .footerMain {
            display: flex;
            gap: 2rem;

            .foooterCard {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                background-color: var(--tpPri3);
                border-radius: .5rem;
                padding: 1rem;
                width: max-content;

                .footerCardTitle {
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                    letter-spacing: .2rem;
                    color: var(--secColor);
                    user-select: none;
                    text-shadow: .15rem .15rem 0 var(--priColor);
                    width: max-content;

                    &::after {
                        content: '';
                        display: block;
                        background-color: var(--tertColor);
                        border-radius: 1rem;
                        height: 0.15rem;
                        margin-top: .3rem;
                    }
                }
            }

            .newsletter {
                justify-content: space-between;

                .footerCardTitle {
                    &::after {
                        background: linear-gradient(to right, var(--accent), var(--secAccent))
                    }
                    font-family: Matter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                }

                h1 {
                    font-size: 3.8rem;
                    letter-spacing: -0.25rem;
                    line-height: 2.8rem;
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    text-transform: lowercase;
                    user-select: none;
                    text-shadow: .1rem .1rem 0 var(--tpPri);
                    width: min-content;
                }

                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .2rem;

                    @supports (height: fit-content) {
                        height: fit-content;
                    }

                    @supports not (height: fit-content) {
                        height: auto;
                    }

                    margin-top: 1.5rem;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;

                        input {
                            font-size: 1.1rem;
                            text-indent: .7rem;
                            background-color: transparent;
                            color: var(--secColor);
                            border: none;
                            background-color: var(--tpPri4);
                            border-top-right-radius: .5rem;
                            border-top-left-radius: .5rem;
                            border-bottom: 0.15rem solid var(--tpSec2);
                            transition: all .5s cubic-bezier(.19, 1, .22, 1);
                            height: 100%;

                            &::selection {
                                background: var(--accent);
                                color: var(--priColor);
                            }

                            &:invalid:not(:placeholder-shown) {
                                border-color: red;

                                ~ {
                                    label {
                                        opacity: 1;
                                        color: var(--priColor);
                                        background: rgb(255, 50, 50);
                                        transform: translateY(-105%);
                                    }
                                }
                            }

                            &:valid {
                                border-color: var(--accent);

                                ~ {
                                    label {
                                        opacity: 1;
                                        color: var(--priColor);
                                        background: var(--accent);
                                        transform: translateY(-105%);
                                    }
                                }
                            }

                            &:focus {
                                border-color: var(--accent);

                                ~ {
                                    label {
                                        opacity: 1;
                                        color: var(--priColor);
                                        background: var(--accent);
                                        transform: translateY(-105%);
                                    }
                                }
                            }
                        }

                        label {
                            position: absolute;
                            pointer-events: none;
                            border-radius: .2rem;
                            padding-inline: .3rem;
                            transition: all .5s cubic-bezier(.19, 1, .22, 1);
                            font-size: 1.1rem;
                        }
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .3rem .8rem;
                        background-color: var(--tpPri4);
                        border-top-left-radius: .5rem;
                        border-bottom-right-radius: 1rem;
                        border-bottom: .15rem solid var(--tpSec2);
                        border-right: .15rem solid var(--tpSec2);

                        svg {
                            width: 2.5rem;
                            height: 2.5rem;
                            fill: var(--secColor);

                        }

                        @media (min-width: 600px) {
                            svg {
                                transition: all .5s cubic-bezier(.19, 1, .22, 1);
                            }

                            transition: border-color .5s cubic-bezier(.19, 1, .22, 1);

                            &:focus-visible {
                                background-color: var(--paleAccentTwo);
                            }

                            &:hover {
                                border-color: var(--accent);

                                svg {
                                    fill: var(--accent);
                                }
                            }

                            &:active {
                                border-color: var(--priColor);

                                svg {
                                    fill: var(--priColor);
                                }
                            }
                        }
                    }
                }
            }

            .getintouch {
                .footerCardTitle {
                    &::after {
                        background: linear-gradient(to right, var(--secAccent), var(--accent))
                    }
                    font-family: Matter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-around;
                    gap: 1rem;
                    border-radius: .5rem;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            border-radius: .3rem;
                            padding: .7rem;
                            background-color: var(--tpPri4);

                            p {
                                color: var(--secColor);
                                font-size: 1.8rem;
                                font-weight: 600;
                                transition: color .8s cubic-bezier(.19, 1, .22, 1);

                                span {
                                    color: var(--accent);
                                    transition: color .8s cubic-bezier(.19, 1, .22, 1);
                                }
                            }

                            svg {
                                color: var(--secColor);
                                background-color: var(--tpPri3);
                                padding: .5rem;
                                height: 2.5rem;
                                width: 2.5rem;
                                border-radius: .3rem;
                                transition: background-color .7s cubic-bezier(.19, 1, .22, 1), color .7s cubic-bezier(.19, 1, .22, 1);
                            }

                            &.adress {
                                gap: .5rem;
                                justify-content: flex-start;
                                align-items: flex-start;
                            }

                            @media (min-width: 600px) {
                                &:focus-visible {
                                    span {
                                        color: var(--secColor);
                                    }

                                    p {
                                        color: var(--accent);
                                    }
                                }

                                &:hover {
                                    background-color: var(--tpPri2);

                                    svg {
                                        background-color: var(--tpPri2);
                                        color: var(--accent);
                                    }
                                }

                                &:active {
                                    span {
                                        color: var(--secColor);
                                    }

                                    p {
                                        color: var(--accent);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footerBottom {
        position: relative;
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        &::before {
            content: '';
            position: absolute;
            background-color: var(--tertColor);
            height: 0.1rem;
            width: 97%;
            margin-inline: auto;
            top: 0;
            left: 0;
            right: 0;
        }

        div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &.legal {
                gap: 1rem;

                p {
                    color: var(--tpSec);
                    font-size: 1.15rem;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    a {
                        font-size: 1.15rem;
                        color: var(--tpSec2);

                        @media (min-width: 600px) {
                            transition: color .7s cubic-bezier(.19, 1, .22, 1);

                            &:focus-visible {
                                color: var(--accent);
                            }

                            &:hover {
                                color: var(--secColor);
                            }

                            &:active {
                                color: var(--accent);
                            }
                        }
                    }
                }
            }
        }

        .footerLanguage {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            height: max-content;
            background-color: var(--tpPri3);
            padding: .3rem;
            border-radius: .3rem;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                &.divider {
                    background: linear-gradient(to bottom, var(--secAccent), var(--accent));
                    padding: .75rem 0;
                    width: .25rem;
                }

                button {
                    background-color: var(--tpPri4);
                    border-radius: .2rem;
                    padding: .35rem .5rem;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

                    @media (min-width: 600px) {
                        transition: background-color .7s cubic-bezier(.19, 1, .22, 1), color .7s cubic-bezier(.19, 1, .22, 1);

                        &:focus-visible {
                            color: var(--accent);
                        }

                        &:hover {
                            background-color: var(--tpPri);
                        }

                        &:active {
                            color: var(--accent);
                            background-color: var(--tpPri3);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    footer {
        .footerBody {
            align-items: unset;
            padding: 2rem 1rem;

            .footerLogo {
                width: unset;
                flex-direction: row;
                flex-grow: 1;
            }

            .footerMain {
                width: 100%;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: center;

                .foooterCard {
                    flex-grow: 1;
                    align-items: center;
                }

                .newsletter {
                    text-align: center;
                }
            }
        }

        .footerBottom {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 2rem 1rem;

            &::before {
                width: 90%;
            }

            div {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 800px) {
    footer {
        margin-bottom: 51.7px;
    }
}

@media (max-width: 768px) {
    footer {
        .footerBottom {
            div {
                &.legal {
                    ul {
                        order: 0;
                    }

                    p {
                        order: 1;
                    }
                }
            }
        }
    }
}