///////////  HEADER  /////////////

header {
    display: flex;
    justify-content: center;
    align-items: center;

    $firstValue: 70svh;
    $secondValue: 15rem;

    height: max($firstValue, $secondValue);

    .headerBackground {
        position: absolute;
        top: 0;
        height: 100%;
        z-index:-10;

        &.leftBkg {
            transform: rotateY(-180deg);
            right: 0;
            display: none;

        }

        &.rightBkg {
            left: 0;
        }

        &.mobileBkg {
            transform: rotateY(-180deg);
            right: 0;
            display: none;
            height: 90%;
            top: -5rem;
        }

        #headerBkgLinearLeft {
            :first-child {
                stop-color: var(--secAccent)
            }

            :nth-child(2) {
                stop-color: var(--paleAccentTwo)
            }

            :last-child {
                stop-color: var(--reverseSecAccent)
            }
        }

        #headerBkgLinearMobile {
            :first-child {
                stop-color: var(--secAccent)
            }

            :nth-child(2) {
                stop-color: var(--paleAccentTwo)
            }

            :last-child {
                stop-color: var(--reverseAccent)
            }
        }

        #headerBkgLinearRight {
            :first-child {
                stop-color: var(--accent)
            }

            :nth-child(2) {
                stop-color: var(--reverseAccent)
            }

            :last-child {
                stop-color: var(--reverseAccent)
            }
        }
    }

    .logo {
        position: fixed;
        transition: all 300ms ease-in-out;
        z-index: 11;
        top: 1rem;
        left: 1rem;
        display: flex;
        align-items: center;

        svg {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            padding: .1rem;
            outline: .1rem solid var(--tpPri3);
            background-color: var(--tpPri3);
            box-shadow: rgba(0, 0, 0, 0.24) 0 .2rem .5rem;

            #headerLogoGradientMobile {

                :first-child {
                    stop-color: var(--logoAccentOne)
                }

                :nth-child(2) {
                    stop-color: var(--logoAccentTwo)
                }
            }
        }
    }

    &.smallHeader {
        height: fit-content;
        padding: 1rem;
        gap: .7rem;

        .headerBackground{
            height: fit-content;
        }

        .logo {
            position: relative;
            top: unset;
            left: unset;
            order: 0;
            margin-right: -.7rem;

            background-color: var(--tpPri3);
            padding: .5rem;
            border-radius: 1rem;
            backdrop-filter: blur(.5rem);
            box-shadow: var(--shadowColor) .12rem .2rem .5rem .1rem, var(--shadowColorTwo) 0 .5rem .5rem -.7rem;

            svg {
                height: 2.5rem;
                width: 2.5rem;
                box-shadow: none;
            }
        }

        .search-form {
            position: relative;
            top: unset;
            order: 1;
        }

        .mainNav {
            &.normalNav {
                position: static;
                top: unset;
                right: unset;
                order: 3;

                ul {
                    flex-direction: row-reverse;

                    &.navigationLinks {
                        &.loggedIn {
                            border-top-left-radius: 1.2rem;
                            border-bottom-left-radius: 1.2rem;
                            border-top-right-radius: 3rem;
                            border-bottom-right-radius: 3rem;
                        }
                    }
                }

                .settingsContainer{
                    position: absolute;
                    right: 1rem;
                }
            }
        }
    }
}

@media (min-width: 4000px) {
    header {
        .headerBackground {

            &.leftBkg {
                display: block;
            }

            &.rightBkg {
                display: block;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        &.smallHeader{
            padding: 0;
            gap: 0;
            .logo{
                margin: 0;
            }
        }
        .headerBackground {
            &.leftBkg {
                display: none;
            }

            &.rightBkg {
                display: none;
            }

            &.mobileBkg {
                display: block;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        align-items: flex-start;
        

        .headerBackground {
            &.leftBkg {
                display: none;
            }

            &.rightBkg {
                display: none;
            }

            &.mobileBkg {
                display: block;
            }
        }

        .logo {
            display: none;
        }
    }
}