///////////  HEADER  /////////////

header {
    &:not(.dbHeader) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: clamp(10rem, 5.2941rem + 25.8824vw, 50rem);

        .headerBackground {
            position: absolute;
            width: 100%;
            z-index: -10;
        }

        .logo {
            position: fixed;
            transition: all 300ms ease-in-out;
            z-index: 11;
            top: 1rem;
            left: .7rem;
            display: flex;
            align-items: center;

            svg {
                height: 3.5rem;
                padding-inline: .3rem;
                background-color: var(--tpPri3);
                border-radius: 2rem;
                box-shadow: rgba(0, 0, 0, 0.24) 0 .2rem .5rem;

                #headerLogoGradient {
                    :first-child {
                        stop-color: var(--logoAccentOne)
                    }

                    :nth-child(2) {
                        stop-color: var(--logoAccentTwo)
                    }
                }
            }
        }

        &.smallHeader {
            position: relative;
            padding-block: 2rem;
            gap: .7rem;

            @supports (height: fit-content) {
                height: fit-content;
            }

            @supports not (height: fit-content) {
                height: auto;
            }

            background: radial-gradient(circle at left, var(--paleAccentTwo) 0%, var(--someColor) 50%, var(--paleAccentTwo) 100%);

            .logo {
                position: static;
                top: unset;
                left: unset;
                order: 0;

                height: max-content;

                svg {
                    border-radius: 1rem;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    height: 3.65rem;
                    flex-grow: 1;
                    box-shadow: none;

                    path:not(:nth-child(11)) {
                        fill: var(--tpSec2);
                    }
                }
            }

            .search-form {
                position: relative;
                top: unset;
                width: fit-content;
                order: 1;

                .frequent-searches {
                    display: none;
                }

                .search-bar-container {
                    box-shadow: none;
                    max-width: max-content;
                }

                .frequent-searches {
                    display: none;
                }
            }

            .mainNav {
                &.normalNav {
                    position: static;
                    top: unset;
                    right: unset;
                    order: 3;

                    ul {
                        &.navigationLinks {
                            box-shadow: none;
                            border-radius: 1.5rem;
                            border-top-right-radius: 3rem;
                            border-bottom-right-radius: 3rem;

                            &.loggedIn {
                                border-radius: 3rem;
                            }

                            li:last-child {
                                a {
                                    border-top-right-radius: 3rem;
                                    border-bottom-right-radius: 3rem;
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                    .settingsContainer {
                        position: absolute;
                        right: 1rem;
                    }
                }
            }
        }

        @media (max-width: 1000px) {
            &.smallHeader {
                padding: 0;
                gap: 0;

                .logo {
                    margin: 0;
                }
            }

            .headerBackground {
                width: 100%;
            }
        }

        @media (max-width: 800px) {
            padding-inline: 1rem;
            align-items: flex-start;

            @supports (height: fit-content) {
                height: fit-content;
            }

            .logo {
                display: none;
            }
        }
    }

    &.dbHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        padding: .7rem;

        background: radial-gradient(circle at left, var(--paleAccentTwo) 0%, var(--someColor) 50%, var(--paleAccentTwo) 100%);

        .logo {
            transition: all 300ms ease-in-out;
            z-index: 11;
            top: unset;
            left: unset;
            display: flex;
            align-items: center;
            position: relative !important;

            svg {
                height: 3.5rem;
                padding-inline: .3rem;
                background-color: var(--tpPri3);
                border-radius: .5rem;

                #headerLogoGradient {
                    :first-child {
                        stop-color: var(--logoAccentOne)
                    }

                    :nth-child(2) {
                        stop-color: var(--logoAccentTwo)
                    }
                }
            }
        }

        h1 {
            text-align: center;
            background-color: var(--tpPri3);
            padding: .5rem 1rem;
            border-radius: .5rem;
        }

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }
}