.notFound {
    display: flex;
    padding: 1rem;
    margin-inline: auto;
    height: 70svh;

    a {
        margin-top: 10%;
        h1 {
            font-size: 4rem;
            letter-spacing: -0.3rem;
            line-height: 2.8rem;
            text-transform: lowercase;
            color: var(--secColor);
            width: max-content;
        }

        p {
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            letter-spacing: 0.2rem;
            color: var(--tpSec);
            width: max-content;
            margin-top: .7rem;
        }
    }

    svg {
        // height: 35rem;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .notFound {
        max-width: unset;
    }
}