.body-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem; 
    margin-block: 2rem 4rem;
    --maxWidth: 800px; 

    .page-container {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    
        .rights-header {
            padding-bottom: 2rem;
            text-align: center;

            h1 {
                font-size: 2.8rem;
                font-family: 'Fugaz One', sans-serif;
            }

            .title {
                text-align: center;
                font-size: clamp(3rem, 0.8824rem + 5.6471vw, 15rem);
                letter-spacing: -.2rem;
                line-height: clamp(3rem, 0.8824rem + 5.6471vw, 15rem);
            }

            span:first-child {
                margin-left: -8rem;
            }

            span:nth-child(2) {
                margin-left: 6.5rem;
                display: block;
            }
        }

        .first-paragraph {
            padding-top: 4rem;
            padding-bottom: 2.5rem;
            max-width: var(--maxWidth);
            text-align: center;
            margin: 0 auto;

            .disclaimer {
                font-size: 4rem;
                font-family: 'Fugaz One', sans-serif;
            }

            .link-style {
                color: green;
            }

            h3 {
                text-align: left;
                font-size: 1.5rem;
            }
    
            p {
                text-align: left;
                line-height: 1.625;
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }

            a{
                font-family: Matter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            }
        }
    
        .information-header {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
            font-size: 2.5rem;
            letter-spacing: -.2rem;
            line-height: 1.2;
            text-align: left;
            margin-left: calc(50% - 24.8rem);
        }

        .second-paragraph {
            padding-top: 4rem;
            padding-bottom: 2.5rem;
            max-width: var(--maxWidth);
            text-align: center;
            margin: 0 auto;

            h2 {
                text-align: left;
            }
            
            h3 {
                text-align: left;
                font-size: 1.5rem;
            }

            h4 {
                text-align: left;
                font-size: 1.5rem;
            }

            p {
                text-align: left;
                line-height: 1.625;
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }
        }

        .paragraph{
            padding-top: 4rem;
            padding-bottom: 2.5rem;
            max-width: var(--maxWidth);
            text-align: center;
            margin: 0 auto;

            h2 {
                text-align: left;
            }

            h3 {
                text-align: left;
                font-size: 1.5rem;
            }

            h4 {
                text-align: left;
                font-size: 1.5rem;
            }

            p {
                text-align: left;
                line-height: 1.625;
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }
        }

        .fourth {
            ul {
                text-align: left;
                line-height: 1.625;
                font-size: 1.3rem;
                margin-bottom: 2rem;
                
                li {
                    list-style-type: disc;
                    margin-left: calc(50% - 23.5rem);
                }
            }
        }
    }
}

