.product-card {
  flex-grow: 1;

  a {
    display: flex;
    flex-direction: column;
    background-color: var(--tpPri3);
    padding: 1rem;
    gap: 1rem;
    border-radius: .3rem;
    transition: scale .6s cubic-bezier(.19, 1, .22, 1);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1rem 0.3rem 0, rgba(0, 0, 0, 0.06) 0 0.1rem 0.2rem 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      max-width: 15rem;
      // max-height: 17rem;
      height: 100%;
      border-radius: .3rem;
      background-color: var(--tpPri2);
      transition: scale .6s cubic-bezier(.19, 1, .22, 1);
      aspect-ratio: 12/16;
      object-fit: cover;
    }

    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .5rem;
      color: var(--secColor);

      .title {
        max-width: 20ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: color .6s cubic-bezier(.19, 1, .22, 1);
        text-align: center;
      }

      div {
        display: flex;
        width: 100%;

        &.priceDiv {
          background-color: var(--tpPri2);
          padding: .5rem;
          // flex-direction: column;
          gap: .3rem;
          border-radius: .3rem;
          align-items: center;
          justify-content: center;
          flex-grow: 1;

          p {
            text-decoration: line-through;
            color: #dd713f;
            font-size: 1.15rem;
            transition: color .6s cubic-bezier(.19, 1, .22, 1);
          }

          h4 {
            font-size: 1.5rem;
            transition: color .6s cubic-bezier(.19, 1, .22, 1);
          }
        }

        &.ratingDiv {
          width: max-content;
          align-items: center;
          margin-inline: auto;
          gap: .5rem;

          p {
            transition: color .6s cubic-bezier(.19, 1, .22, 1);
          }

          .starsDiv {
            display: flex;
            color: var(--secAccent);

            svg {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }

    &:focus-visible {
      outline: .3rem solid var(--secColor);
      scale: 1.05;

      .infoDiv {
        p {
          color: var(--accent);
        }
      }
    }

    @media (min-width: 600px) {
      &:hover {
        .infoDiv {
          p {
            color: var(--accent);
          }
        }

        img {
          scale: .95;
        }
      }

      &:active {
        scale: .9;

        .infoDiv {
          h4 {
            color: var(--accent);
          }
        }

        img {
          scale: 1;
        }
      }
    }
  }
}