///////////  Drop Down Background  ///////////// 

.background-div {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100svw;
    position: fixed;
    z-index: 19;
}

.background-div-enter {
    background-color: rgba(0, 0, 0, 0);

    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(0);
    }
}

.background-div-enter-active {
    background-color: var(--ddbkg);

    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(.1rem);
    }

    transition: backdrop-filter 150ms,
    background-color 150ms;
}

.background-div-enter-done {
    background-color: var(--ddbkg);

    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(.1rem);
    }
}

.background-div-exit {
    background-color: var(--ddbkg);

    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(.1rem);
    }
}

.background-div-exit-active {
    background-color: rgba(0, 0, 0, 0);

    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(0);
    }

    transition: backdrop-filter 150ms,
    background-color 150ms;
}