///////////  PRODUCT LIST  ///////////// 

.scrollableProductsList {
    display: flex;
    width: 100%;
    position: relative;
    gap: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 .1rem .3rem 0, rgba(0, 0, 0, 0.06) 0 .1rem .2rem 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    padding: 1rem;
    background-color: var(--secAccent);

    &.discountedProducts {
        flex-direction: row-reverse;
        background-color: var(--tertAccent);
    }

    .introDiv {
        width: max-content;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2.6rem;
            letter-spacing: -0.05rem;
            font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            -webkit-user-select: none;
            color: white;
            user-select: none;
            text-shadow: 0.1rem 0.1rem 0 black;
            width: max-content;
        }

        p {
            position: relative;
            font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.15rem;
            letter-spacing: 0.1rem;
            color: white;
            -webkit-user-select: none;
            user-select: none;
            text-shadow: 0.05rem 0.05rem 0 black;
        }
    }

    .ulDiv {
        position: relative;
        display: flex;
        padding: .7rem;
        border-radius: .5rem;
        overflow: hidden;
        background-color: var(--tpPri2);

        @media (min-width: 800px) {

            &::before,
            &::after {
                content: '';
                position: absolute;
                pointer-events: none;
                height: 130%;
                top: 0;
                bottom: 0;
                margin-block: auto;
                right: -3rem;
                border-radius: 50%;
                filter: blur(1rem);
                width: 6.5rem;
                z-index: 14;
                transition: opacity .6s;
            }

            &::before {
                left: -3rem;
                background: linear-gradient(to right, var(--tpPri), var(--tpPri), var(--tpPri2));
            }

            &::after {
                background: linear-gradient(to left, var(--tpPri), var(--tpPri), var(--tpPri2));
                opacity: 1;
            }

            .scrollLeft,
            .scrollright {
                position: absolute;
                top: 0;
                bottom: 0;
                margin-block: auto;
                background-color: var(--priColor);
                color: var(--tpSec2);

                @supports (height: fit-content) {
                    height: fit-content;
                }

                @supports not (height: fit-content) {
                    height: auto;
                }

                border-radius: 50%;
                display: flex;
                align-items: center;
                padding: .3rem;
                z-index: 15;
                box-shadow: var(--shadowColor) 0.12rem 0.2rem 0.5rem 0.1rem,
                var(--shadowColorTwo) 0 0.5rem 0.5rem -0.7rem;
                transition: opacity .6s;

                &:focus-visible {
                    opacity: 1;
                    color: var(--secAccent);

                    svg {
                        outline: .15rem solid #fff;
                    }
                }

                &:hover {
                    color: var(--accent);
                    background-color: var(--tpPri);
                }

                &:active {
                    color: var(--secColor);
                    background-color: var(--tpPri3);
                }

                &:disabled {
                    pointer-events: none;
                }
            }

            .scrollLeft {
                left: .5rem;
            }

            .scrollright {
                right: .5rem;
            }

            &.hideLeft {

                &::before {
                    opacity: 0;
                    // pointer-events: none;
                }

                .scrollLeft {
                    opacity: 0;
                }
            }

            &.hideRight {

                &::after {
                    opacity: 0;
                    // pointer-events: none;
                }

                .scrollright {
                    opacity: 0;
                }
            }
        }

        ul {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            gap: .7rem;
            padding: .5rem;

            @supports (scrollbar-width: none) {
                scrollbar-width: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .product-card {
                a {
                    img {
                        width: unset;
                        height: 15rem;
                    }
                }
            }
        }
    }
}

@media (max-width:850px) {
    .scrollableProductsList {
        gap: .7rem;
        border-radius: .7rem;
        justify-content: flex-start;
        align-items: flex-start;


        &.discountedProducts,
        &.popularProducts {
            flex-direction: column;
        }

        .introDiv {
            width: unset;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .popularSvg,
            .discountSvg {
                display: none;
            }

            h1 {
                font-size: 2.5rem;
                width: fit-content;
                gap: .5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .ulDiv {
            border-radius: .5rem;
            padding: .1rem;
            width: 100%;

            ul {
                padding: .3rem;
                gap: .5rem;

                .product-card {
                    a {
                        padding: .5rem;
                        gap: .5rem;
                        border-radius: .5rem;

                        img {
                            border-radius: .5rem;
                            height: 15rem;
                        }

                        .infoDiv {
                            gap: .5rem;

                            .title {
                                max-width: 20ch;
                            }

                            div {

                                &.priceDiv {
                                    gap: .5rem;

                                    h4 {
                                        font-size: 1.3rem;
                                    }
                                }

                                &.ratingDiv {
                                    gap: .3rem;

                                    .starsDiv {
                                        svg {
                                            height: 1.9rem;
                                            width: 1.9rem;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            img {
                                scale: 1;
                            }
                        }

                        &:active {
                            scale: 1;
                        }
                    }
                }
            }
        }
    }
}