.forgotPass {
    position: relative;
    width: 0%;
    background-color: var(--tpPri);
    backdrop-filter: blur(2rem);
    overflow: hidden;
    gap: 1.5rem;
    transition: 500ms all ease-in-out;

    *:not(label) {
        transform: translateY(-25rem);
        transition: 300ms all ease-in-out;
        transition: 500ms transform ease-in-out;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 7rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.15rem solid var(--accent);
            color: var(--accent);
            transition: 500ms all ease;

            &:hover {
                background-color: var(--accent);
                color: var(--priColor);
                transition: 500ms all ease;
            }
        }
    }

    span {
        color: var(--accent);
    }
}

.cancelFP {
    left: 1.5rem;
    top: 1.5rem;
}