@use "../../abstracts";

.cart {
    position: relative;
    max-width: 90vmax;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmax;

    span {
        transition: all .5s cubic-bezier(.19, 1, .22, 1);
    }

    .products {
        position: relative;
        width: 71%;

        border-top-left-radius: .8vmax;
        border-top-right-radius: .3vmax;
        border-bottom-left-radius: .3vmax;
        border-bottom-right-radius: .8vmax;

        h2 {
            position: relative;
            margin-bottom: .6rem;
            text-indent: .5rem;
            padding-block: .4vmax .6vmax;

            background-color: var(--paleAccent);
            outline: 0.15rem solid var(--paleAccentThree);
            border-radius: .5rem;

            &.amount {
                margin: 0.3vmax;
                text-indent: 0;
                padding-inline: 0.2vmax;
                padding-block: 0;
                outline: none;
                border-radius: 0.5rem;

            }
        }

        ul {
            max-height: 37vmax;
            border-top: 0.5rem solid var(--paleAccentThree);
            border-bottom: 0.5rem solid var(--paleAccentThree);

            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding-block: .5rem;

            li {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-inline: .5rem;
                overflow: hidden;
                min-height: 8rem;
                border-top-left-radius: .8vmax;
                border-top-right-radius: .3vmax;
                border-bottom-left-radius: .3vmax;
                border-bottom-right-radius: .8vmax;

                // background-color: var(--paleAccent);
                outline: 0.15rem solid var(--paleAccentThree);

                .pTitle {
                    display: flex;
                    align-items: center;
                    position: relative;

                    p {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }

                    &::before {
                        content: '';
                        display: block;
                        background-color: var(--tpPri);
                        min-height: 8rem;
                        min-width: 8rem;
                        margin-right: .5rem;
                        outline: 0.15rem solid var(--paleAccentThree);
                    }
                }

                &:last-child {
                    border-bottom-left-radius: .3vmax;
                    border-bottom-right-radius: 1.3vmax;
                }

                &:first-child {
                    border-top-left-radius: 1.3vmax;
                    border-top-right-radius: .3vmax;
                }

                h3 {
                    a {
                        width: fit-content;
                        position: relative;
                        color: var(--secColor);
                        font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        transition: all .5s cubic-bezier(.19, 1, .22, 1);

                        &:hover {
                            color: var(--accent);
                        }

                        &:active {
                            scale: 1.05;
                        }

                        &:focus-visible {
                            color: var(--accent);
                            text-decoration: underline;
                        }
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                    .divider {
                        margin-inline: .5vmax;
                    }

                    button {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .5s cubic-bezier(.19, 1, .22, 1);

                        &::before {
                            content: "";
                            inset: -0.25rem;
                            border-radius: 50%;
                            background-color: var(--paleAccentTwo);
                            opacity: 0;
                            position: absolute;
                            transition: scale .8s cubic-bezier(.19, 1, .22, 1), opacity .3s linear, background-color .5s cubic-bezier(.0, 0.5, .5, 1);
                            transform-origin: center;
                            scale: 0;
                            z-index: -1;
                        }

                        &:focus-visible {
                            &::before {
                                scale: 1;
                                opacity: 1;
                            }
                        }

                        &:hover {
                            &::before {
                                scale: 1;
                                opacity: 0.5;
                            }
                        }

                        &:active {
                            scale: 1.1;

                            &::before {
                                background-color: transparent;
                            }

                            span {
                                color: var(--accent);
                            }
                        }
                    }

                    h4 {
                        margin-inline: .3vmax;
                    }

                    h2:last-child {
                        margin-inline: .8vmax;
                        outline: none;
                        border-radius: .5rem;
                        padding: .2rem;
                        text-indent: 0;
                    }
                }
            }
        }
    }

    .summary {
        position: relative;
        width: 27%;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        display: none;

        a {
            color: var(--paleAccentTwo);

            &:hover {
                text-decoration: underline;
                color: var(--accent);
            }

            &:focus-visible {
                background-color: var(--priColor);
                color: var(--accent);
                text-decoration: underline;
            }

            &:active {
                color: var(--secColor);
            }
        }

        h2 {
            position: relative;
            padding-block: .5rem .7rem;
            padding-inline: .5rem;
            display: flex;
            justify-content: end;
            border-radius: .5rem;

            color: var(--priColor);

            background: linear-gradient(45deg,
                    var(--paleAccent) 0%,
                    var(--secAccent) 30%,
                    var(--accent) 0%,
                    var(--secAccent) 70%,
                    var(--accent) 100%);

            &.amount {
                margin: .3vmax;
                text-indent: 0;
                padding-inline: .3vmax;
                padding-block: 0;
                outline: none;
                border-radius: .5rem;
                background: var(--paleAccent);
                color: var(--secColor);
                border: .2rem solid var(--paleAccentThree);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            border: .2rem solid var(--paleAccentThree);
            border-radius: .5rem;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;

                &:first-child {
                    border-bottom: .1rem solid var(--paleAccentThree);
                }

                &:last-child {
                    display: inline-block;
                    padding-block: 1.2rem;
                    border-top: .25rem solid var(--paleAccentThree);
                }
            }

            &.summaryTwo {
                border: none;

                li {
                    border-radius: .5vmax;

                    &.buyerProtect {
                        display: inline-block;
                        border: .2rem solid var(--paleAccentThree);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        padding-block: .6rem;

                        h4 {
                            display: flex;
                            align-items: center;
                            gap: .2rem;

                            span {
                                pointer-events: none;
                            }
                        }
                    }

                    &.toCheckout,
                    &.backToCart {
                        justify-content: center;
                        padding: 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border: .2rem solid var(--paleAccentThree);
                        border-top: none;
                        overflow: hidden;

                        button {
                            color: var(--priColor);
                            width: 100%;
                            padding: .8rem .5rem;
                            position: relative;
                            align-items: center;
                            font-size: large;
                            color: var(--priColor);
                            font-family: "JetBrains Mono", monospace;
                            touch-action: manipulation;
                            overflow: hidden;
                            transition: all .5s cubic-bezier(.19, 1, .22, 1);

                            &::before {
                                content: '';
                                inset: -1rem;
                                position: absolute;
                                filter: blur(.5vmax);
                                background: linear-gradient(45deg, var(--paleAccent) 0%, var(--secAccent) 30%, var(--accent) 95%, var(--accent) 100%);
                                z-index: -1;
                            }

                            &:focus-visible {
                                background-color: var(--priColor);
                                color: var(--accent);
                            }

                            &:hover {
                                background-color: var(--priColor);
                                color: var(--accent);
                            }

                            &:focus-visible {
                                background-color: var(--priColor);
                                color: var(--accent);
                            }

                            &:active {
                                background-color: var(--paleAccentThree);
                                color: var(--secColor);
                            }
                        }
                    }
                }
            }
        }
    }

    .checkout {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        // display: none;

        .checkoutSection {
            display: flex;
            flex-direction: column;
            border-radius: .5rem;

            &.checkoutNav {
                h2 {
                    position: relative;
                    padding: .5rem .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: var(--priColor);

                    background: linear-gradient(45deg, var(--accent) 0%, var(--accent) 30%, var(--secAccent) 70%, var(--paleAccent) 0%, var(--accent) 30%, var(--paleAccent));

                    border-radius: .5rem;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                div {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem;

                    border: .2rem solid var(--paleAccentThree);
                    border-radius: .5rem;
                    border-top: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    .divider {
                        width: 100%;
                        height: .25rem;
                        padding: 0;
                        border: none;
                        border-radius: 1rem;

                        &.One {
                            background: linear-gradient(to right, var(--paleAccent) 0%, var(--paleAccentTwo) 30%, var(--secAccent) 60%);
                        }

                        &.Two {
                            background: linear-gradient(to right, var(--secAccent) 0%, var(--paleAccentTwo) 60%, var(--paleAccent) 100%);
                        }
                    }

                    button {
                        border-radius: 50%;
                        padding: .3rem;
                        margin: .2rem;
                        display: flex;
                        align-items: center;
                        transition: 0.3s cubic-bezier(.17, .67, .83, .67);

                        span {
                            pointer-events: none;
                            font-size: 1.8rem;
                            transition: 0.3s cubic-bezier(.17, .67, .83, .67);
                        }

                        &:active {
                            scale: 1.1;

                            .material-symbols-outlined {

                                color: var(--secAccent);
                            }
                        }

                        &:focus-visible {
                            background-color: var(--paleAccentTwo);

                            span {
                                color: var(--priColor);
                            }
                        }

                        &:hover {
                            background-color: var(--paleAccent);

                            span {
                                color: var(--accent);
                            }

                        }
                    }
                }
            }

            &.shippingAO,
            &.paymentAO {
                border: .2rem solid var(--paleAccentThree);
                overflow: hidden;
            }

            &.paymentAO,
            &.reviewAO {
                display: none;
            }

            &.reviewAO {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .reviewDiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;

                    .reviewSectionTitle {
                        display: flex;
                        color: var(--priColor);
                        padding: .5vmax;

                        border-bottom: .2rem solid var(--paleAccentThree);
                        background: linear-gradient(45deg, var(--accent) 0%, var(--accent) 30%, var(--secAccent) 70%, var(--paleAccent) 0%, var(--accent) 30%, var(--paleAccent));
                        border-top-left-radius: .3rem;
                        border-top-right-radius: .3rem;

                        &.two {
                            background: linear-gradient(-45deg, var(--accent) 0%, var(--accent) 30%, var(--secAccent) 70%, var(--paleAccent) 0%, var(--accent) 30%, var(--paleAccent));
                            justify-content: end;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }

                    .reviewSection {
                        border: .2rem solid var(--paleAccentThree);
                        border-radius: .5rem;

                        ul {
                            display: flex;
                            flex-direction: column;

                            li {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                div {
                                    display: flex;
                                    gap: .5vmax;
                                }

                                h4 {
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }

                        &.summaryReview {
                            height: min-content;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            
                            a {
                                color: var(--paleAccentTwo);

                                &:hover {
                                    text-decoration: underline;
                                    color: var(--accent);
                                }

                                &:focus-visible {
                                    background-color: var(--priColor);
                                    color: var(--accent);
                                    text-decoration: underline;
                                }

                                &:active {
                                    color: var(--secColor);
                                }
                            }

                            .amount {
                                margin: .3vmax;
                                padding-inline: .3vmax;
                                border-radius: .5rem;
                                background: var(--paleAccent);
                                color: var(--secColor);
                                border: .2rem solid var(--paleAccentThree);
                            }

                            ul {
                                li {
                                    padding: .5vmax;

                                    &:first-child {
                                        border-bottom: .1rem solid var(--paleAccentThree);
                                    }

                                    &:nth-child(2) {
                                        border-bottom: .3rem solid var(--paleAccentThree);
                                    }

                                    &:nth-child(3) {
                                        border-bottom: .3rem solid var(--paleAccentThree);
                                    }
                                }

                                &.buyerProtectReview {
                                    li {
                                        border: none;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        padding-block: .5vmax;

                                        h4 {
                                            &.premiumh4 {
                                                margin-top: .5rem;
                                            }

                                            &.buyerproc {
                                                margin-top: .5rem;

                                                span {
                                                    margin-left: -.2rem;
                                                }
                                            }
                                        }

                                        &:first-child {
                                            border-bottom: .1rem solid var(--paleAccentThree);
                                        }
                                    }
                                }

                                &.backToPayment{
                                    button {
                                        color: var(--priColor);
                                        width: 100%;
                                        padding: .8rem .5rem;
                                        position: relative;
                                        align-items: center;
                                        font-size: large;
                                        font-family: "JetBrains Mono", monospace;
                                        touch-action: manipulation;
                                        overflow: hidden;
                                        transition: all .5s cubic-bezier(.19, 1, .22, 1);
            
                                        &::before {
                                            content: '';
                                            inset: -1rem;
                                            position: absolute;
                                            filter: blur(.5vmax);
                                            background: linear-gradient(45deg, var(--paleAccent) 0%, var(--secAccent) 30%, var(--accent) 95%, var(--accent) 100%);
                                            z-index: -1;
                                        }
            
                                        &:focus-visible {
                                            background-color: var(--priColor);
                                            color: var(--accent);
                                        }
            
                                        &:hover {
                                            background-color: var(--priColor);
                                            color: var(--accent);
                                        }
            
                                        &:focus-visible {
                                            background-color: var(--priColor);
                                            color: var(--accent);
                                        }
            
                                        &:active {
                                            background-color: var(--paleAccentThree);
                                            color: var(--secColor);
                                        }
                                    }
                                }

                                &:last-child {
                                    border-top: .3rem solid var(--paleAccentThree);
                                }
                            }
                        }

                        &.productsReview {
                            border-bottom: none;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;

                            ul {
                                gap: .5vmax;
                                padding: .5vmax;
                                max-height: 15rem;
                                overflow-y: scroll;

                                li {
                                    outline: 0.15rem solid var(--paleAccentThree);
                                    border-radius: .5rem;
                                    overflow: hidden;
                                    padding-right: .5vmax;
                                    min-height: 4rem;

                                    .pTitle {
                                        display: flex;
                                        align-items: center;
                                        position: relative;

                                        p {
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            line-clamp: 1;
                                            -webkit-box-orient: vertical;
                                        }

                                        &::before {
                                            content: '';
                                            display: block;
                                            background-color: var(--tpPri);
                                            min-height: 4rem;
                                            min-width: 4rem;
                                            margin-right: .5rem;
                                            outline: 0.15rem solid var(--paleAccentThree);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .reviewInteract{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    align-self: center;

                    border: .2rem solid var(--paleAccentThree);
                    border-radius: .5rem;
                    padding: .5vmax;
                    
                    section{

                    }
                    button{

                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                margin-inline: auto;
                width: 90%;
                gap: 1rem;

                h3 {
                    position: relative;
                    display: flex;
                    margin-inline: 1.5rem;
                    margin-block: 1.3rem -.4rem;
                    font-size: x-large;
                }

                input {
                    order: 2;
                    width: 100%;
                    height: 3rem;
                    font-size: 1.2rem;
                    text-indent: .5rem;

                    border-radius: .5rem;
                    border: .15rem solid var(--paleAccentThree);
                    background-color: var(--tpPri);
                    color: var(--secColor);

                    transition: 0.2s cubic-bezier(.17, .67, .83, .67);

                    &:focus-visible {
                        border-color: var(--paleAccentTwo);

                        ~label {
                            color: var(--accent);
                            border-color: var(--paleAccentTwo);
                        }
                    }

                    &::selection {
                        background: var(--paleAccentTwo);
                        color: var(--priColor);
                    }

                    &:invalid:not(:placeholder-shown) {
                        border-color: red;

                        ~ {
                            label {
                                color: var(--priColor);
                                background: linear-gradient(to right, rgb(230, 0, 0), rgb(190, 50, 50));
                                border-color: red;
                            }
                        }
                    }

                    &:valid {
                        border-color: rgb(0, 220, 0);

                        ~ {
                            label {
                                color: var(--accent);
                                border-color: rgb(0, 220, 0);
                                color: var(--priColor);
                                background-color: rgb(0, 220, 0);
                                border-color: rgb(0, 220, 0);
                                background: linear-gradient(to right, rgb(0, 255, 0), rgb(50, 190, 50));
                            }
                        }
                    }
                }

                label {
                    margin-inline: .5rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    order: 1;
                    transition: 0.2s cubic-bezier(.17, .67, .83, .67);
                    border: .15rem solid var(--paleAccentThree);
                    width: fit-content;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                    border-bottom: none;
                    padding: .1rem .6rem;
                }

                section {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 5%;

                    div {
                        display: flex;
                        flex-direction: column;
                        width: 45%;
                    }
                }

                .address,
                .cardNum {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    align-self: center;
                }

                .divider {
                    width: 96%;
                    margin-inline: auto;
                    height: .25rem;
                    border: none;
                    // background: linear-gradient(to right, var(--paleAccentThree), var(--paleAccentTwo), var(--paleAccentThree));
                    background-color: var(--paleAccentThree);
                }

                button {
                    position: relative;
                    width: 50%;
                    padding: 1rem;
                    margin-inline: auto;
                    margin-bottom: 1rem;
                    border-radius: .5rem;
                    align-items: center;
                    font-size: large;
                    color: var(--priColor);
                    border: .2rem solid var(--paleAccentThree);
                    font-family: "JetBrains Mono", monospace;
                    touch-action: manipulation;
                    overflow: hidden;
                    transition: all .5s cubic-bezier(.19, 1, .22, 1);

                    &::before {
                        content: '';
                        inset: -1rem;
                        position: absolute;
                        filter: blur(.5vmax);
                        background: linear-gradient(45deg, var(--accent) 0%, var(--accent) 30%, var(--secAccent) 85%, var(--paleAccent) 100%);
                        z-index: -1;
                    }

                    &:hover {
                        background-color: var(--priColor);
                        color: var(--accent);
                    }

                    &:focus-visible {
                        background-color: var(--priColor);
                        color: var(--accent);
                    }

                    &:active {
                        border-color: var(--accent);
                        color: var(--secColor);
                    }
                }
            }
        }
    }
}

.currentStage {
    pointer-events: none;
    background-color: var(--paleAccentTwo);

    span {
        color: var(--priColor);
    }
}

.finalStage {
    max-width: 100vmax;

    .checkout {
        width: 100%;
    }
}

.currentStageAO {
    display: flex !important;
}

.currentStageAONot {
    display: none !important;
}

.checkoutOn {
    flex-direction: row;

    .checkout {
        max-width: 71%;
    }

    .products {
        display: none;
    }

    .summary {
        ul {
            &.summaryTwo {
                li {

                    &.toCheckout {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1640px) {
    .cart {
        .products {
            width: 90%;
        }

        .summary {
            width: 90%;
        }

        .checkout {
            width: 90%;
        }

        &.checkoutOn {
            .summary {
                order: 1;
            }

            .checkout {
                order: 2;
            }

            .products {
                order: 3;
            }
        }
    }
}

@media (max-width: 600px) {

    // header{
    //     margin: 5vmax;
    //     height: 10vmax;
    // } // Should do in header media instead

    .cart {
        // Widens cart to take up "whole screen"
        max-width: 100vmax;

        .products {
            // Products section media
            width: 100%;

            h2 {
                border-radius: 0;
                margin-block: .4rem;
                text-align: center;
            }

            ul {
                min-height: 50vh;

                li {
                    // Changes direction to column and aligns items at the start - left
                    flex-direction: column;
                    align-items: flex-start;
                    min-height: 6rem;
                    border-radius: 0.1rem !important;

                    h3 {

                        // Text Goes up a bit
                        a {
                            position: relative;
                            font-size: 1rem;
                            top: -1.5rem;
                        }
                    }

                    .pTitle {

                        // Makes photo smaller
                        &::before {
                            min-width: 6rem;
                            min-height: 6rem;
                        }
                    }

                    div {
                        // Places itself at the bottom right
                        position: absolute;
                        align-self: flex-end;
                        bottom: 0;
                        margin-right: .5vmax;
                        gap: 0.2rem;

                        h2 {
                            font-size: 1.2rem;
                        }

                        button {
                            &::before {
                                inset: -0.15rem;
                            }
                        }

                        .divider {
                            position: relative;
                            top: -0.8rem;
                        }
                    }
                }
            }
        }
    }
}