@use "../../abstracts";

.products {
    position: relative;
    width: 61%;

    border-top-left-radius: .8vmax;
    border-top-right-radius: .3vmax;
    border-bottom-left-radius: .3vmax;
    border-bottom-right-radius: .8vmax;
    overflow: hidden;

    h2 {
        position: relative;
        padding: .5rem .5rem;
        color: var(--priColor);
        background: linear-gradient(45deg, var(--secAccent) 0%, var(--accent) 30%, var(--secAccent) 70%, var(--accent) 30%);
        border-radius: .5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &.amount {
            margin: 0.3vmax .5vmax;
            text-indent: 0;
            padding-inline: .2vmax;
            padding-block: 0;
            text-align: center;
            border-radius: .3rem;
            background: var(--paleAccent);
            color: var(--secColor);
        }

        &.footerProducts {
            background: var(--paleAccentTwo);
            border-radius: .3rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background: linear-gradient(45deg, var(--secAccent) 0%, var(--accent) 30%, var(--secAccent) 70%, var(--accent) 30%);
            margin-block: 0;
        }
    }

    ul {
        max-height: 37vmax;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-block: .5rem;
        border-left: 0.15rem solid var(--paleAccentThree);
        border-right: 0.15rem solid var(--paleAccentThree);
        backdrop-filter: blur(.3rem);

        li {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-inline: .5rem;
            overflow: hidden;
            border-radius: .5rem;
            min-height: 7rem;
            outline: 0.15rem solid var(--paleAccentThree);
            background-color: var(--tpPri);

            .pTitle {
                display: flex;
                align-items: center;
                position: relative;
                max-width: 65%;
                --bgimg: url("");

                p {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;

                    width: fit-content;
                    position: relative;
                    color: var(--secColor);
                    font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    transition: all .5s cubic-bezier(.19, 1, .22, 1);

                    cursor: pointer;

                    &:hover {
                        color: var(--accent);
                    }

                    &:active {
                        scale: 1.05;
                    }

                    &:focus-visible {
                        color: var(--accent);
                        text-decoration: underline;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    min-height: 8rem;
                    min-width: 8rem;
                    margin-right: .5rem;
                    outline: 0.15rem solid var(--paleAccentThree);
                    background-image: var(--bgimg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            div {
                display: flex;
                align-items: center;
                gap: 0.2rem;

                .divider {
                    margin-inline: .5vmax;
                    border-radius: none;
                    width: 0.2rem;
                    height: 1.5rem;
                    border: none;
                    background: linear-gradient(45deg, var(--accent) 30%, var(--secAccent) 70%);
                }

                button {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .5s cubic-bezier(.19, 1, .22, 1);

                    &::before {
                        content: "";
                        inset: -0.25rem;
                        border-radius: 50%;
                        background: linear-gradient(45deg, var(--accent) 30%, var(--secAccent) 70%, var(--accent) 30%);
                        opacity: 0;
                        position: absolute;
                        transition: all .5s cubic-bezier(.19, 1, .22, 1);
                        scale: 0;
                        z-index: -1;
                    }

                    &:focus-visible {
                        &::before {
                            scale: 1;
                            opacity: 1;
                        }
                    }

                    &:hover {

                        &::before {
                            scale: 1;
                            opacity: 1;
                        }
                    }

                    &:active {

                        &::before {
                            scale: 1;
                            opacity: 0;
                        }

                        span {
                            color: var(--accent);
                        }
                    }

                    &.disabledAmountBtn {
                        pointer-events: none;

                        span {
                            color: var(--tertColor);
                        }
                    }
                }

                h4 {
                    margin-inline: .3vmax;
                }

                .footerProducts {
                    margin-inline: .8vmax;
                    margin-block: 0;
                    border-radius: .5rem;
                    padding: .2rem;
                    text-indent: 0;
                }
            }
        }
    }
}