///////////  PICTURE UPLOAD  /////////////

.photoUploader {
    display: flex;
    justify-content: center;
    background-color: var(--tpPri4);
    width: 100%;
    gap: .5rem;
    padding: 1rem;
    border-radius: .5rem;

    .imageDiv {
        display: flex;
        align-items: center;

        img {
            position: sticky;
            border-radius: .7rem;
            max-height: 15rem;
            border-radius: .3rem;
        }
    }

    button {
        padding: .5rem;
        font-size: .9rem;
        background-color: var(--paleAccentThree);
        border-radius: .3rem;
        color: #fff;
        font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

        &:focus-visible {
            color: var(--accent);
            background-color: var(--tpPri4);
            outline: .2rem solid var(--accent);
        }

        @media (min-width: 600px) {
            transition: .3s background-color,
                .3s color;

            &:hover {
                color: var(--accent);
                background-color: var(--paleAccent);
            }

            &:active {
                background-color: var(--tpPri3);
            }
        }
    }

    .image-uploader {
        position: relative;
        background-color: var(--tpPri3);
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .3rem;
        border-radius: .3rem;
        border-style: dashed;
        border-color: var(--tpSec3);

        &.dragged {
            background-color: var(--paleAccent);
        }

        &.noBorder {
            border-color: rgba(0, 0, 0, 0);
        }

        &.dragged {
            background-color: var(--paleAccent);
        }

        &.noBorder {
            border-color: rgba(0, 0, 0, 0);
        }

        img {
            height: 10rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: 500;
            font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        }
    }

    @media (max-width: 500px) {
        flex-wrap: wrap;

        .imageDiv {
            img {
                height: 10rem;
            }
        }
    }
}