///////////  NAV  ///////////// 

header {
    .mainNav {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 20;

        &.normalNav {
            right: 1rem;
            top: 1rem;
            align-items: flex-end;
            gap: 1rem;

            ul {
                display: flex;

                &.navigationLinks {
                    align-items: center;
                    gap: .5rem;
                    background-color: var(--tpPri3);
                    padding: .5rem;
                    border-radius: .7rem;
                    box-shadow: var(--shadowColor) .12rem .2rem .5rem .1rem, var(--shadowColorTwo) 0 .5rem .5rem -.7rem;

                    width: fit-content;

                    &.loggedIn {
                        border-top-left-radius: 3rem;
                        border-bottom-left-radius: 3rem;
                    }

                    li:not(.divider) {
                        flex-grow: 1;
                        position: relative;

                        a,
                        button:not(.logInIcon) {
                            position: relative;
                            border-radius: .5rem;
                            color: var(--secColor);

                            padding: .6rem .8rem;

                            &.cartLink {
                                @media(min-width: 800px) {
                                    padding-block: .3rem;
                                    padding-inline: .3rem .5rem;
                                }
                            }

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .5rem;
                            transition: .3s ease background-color,
                            color .3s ease;

                            background-color: var(--tpPri2);
                            outline: .15rem solid rgba(0, 0, 0, 0);
                            user-select: none;

                            &::after {
                                content: '';
                                position: absolute;
                                inset: 0;
                                background: linear-gradient(to right, var(--paleSecAccent), var(--paleAccentTwo));
                                opacity: 0;
                                border-radius: .5rem;
                                z-index: 0;
                                transition: opacity .3s ease;
                            }

                            p {
                                font-size: 1.2rem;
                                z-index: 1;
                            }

                            .cartP {
                                background-color: var(--tpPri2);
                                color: var(--secColor);
                                padding: .2rem .5rem;
                                border-radius: .3rem;

                                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                            }

                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                                z-index: 1;
                            }

                            &:focus-visible {
                                outline-color: var(--reverseSecAccent);
                            }

                            &:hover {
                                color: var(--accent);
                                background-color: var(--paleAccent);
                            }

                            &:active {
                                background-color: var(--tpPri3);
                            }

                            &.active {
                                color: var(--priColor);
                                pointer-events: none;

                                &::after {
                                    opacity: 1;
                                }

                                .cartP {
                                    background-color: var(--tpPri3);
                                    color: var(--secAccent);
                                    font-weight: 600;
                                }
                            }
                        }

                        a {
                            padding: .55rem .5rem;
                        }

                        .logInIcon {
                            position: relative;
                            display: flex;
                            align-items: center;
                            border-radius: 50%;

                            transition: background-color .3s ease;

                            img {
                                height: 2.5rem;
                                width: 2.5rem;
                                outline: .15rem solid var(--priColor);
                                border-radius: 50%;
                                padding: .05rem;
                                position: relative;
                                transition: background-color .3s ease, outline .3s ease;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                inset: -.25rem;
                                border-radius: 50%;
                                background: linear-gradient(to bottom, var(--paleSecAccent), var(--paleAccentTwo));
                                transition: opacity .3s ease;
                            }

                            &:focus-visible {
                                outline: none;
                                background-color: var(--priColor);

                                &::before {
                                    opacity: 0;
                                }

                                img {
                                    background-color: var(--priColor);
                                    outline-color: var(--reverseSecAccent);
                                }
                            }

                            &:hover {
                                background-color: var(--priColor);

                                &::before {
                                    opacity: 0;
                                }

                                img {
                                    background-color: var(--priColor);
                                    outline-color: var(--accent);
                                }
                            }

                            &:active {
                                img {
                                    background-color: var(--accent);
                                    opacity: .7;
                                }
                            }

                            &.active {
                                pointer-events: all;

                                img {
                                    background-color: var(--priColor);
                                }
                            }
                        }
                    }

                    .divider {
                        background: radial-gradient(var(--accent), var(--secAccent));
                        padding: 1.1rem .1rem;
                        border-radius: .3rem;
                    }
                }
            }
        }

        &.dashboardNav {
            all: unset !important;

            ul {
                &.navigationLinks {
                    box-shadow: none;
                    gap: .7rem;

                    &.loggedIn {
                        border-radius: .5rem;
                        border-end-end-radius: 2rem;
                        border-start-end-radius: 2rem;
                    }
                }
            }

            .settingsContainer {
                position: absolute;
                right: 1rem;
            }
        }

        &.mobileNav {
            bottom: 0;
            width: 100%;

            display: flex;
            flex-direction: column-reverse;

            .navigationLinks {
                z-index: 6;
            }

            .navigationLinks,
            .accountSettings,
            .themeSettings {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: .15rem solid var(--tertColor2);
                background-color: var(--tpPri3);
                padding: .7rem;

                li {

                    a,
                    button {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--tpSec);
                        border-radius: .5rem;

                        svg {
                            height: 2.5rem;
                            width: 2.5rem;
                        }

                        &.active:not(.logInIcon) {
                            color: var(--accent);
                            pointer-events: none;

                            &::after {
                                opacity: 1;

                            }
                        }
                    }

                    .logInIcon {
                        img {
                            height: 2.5rem;
                            width: 2.5rem;
                            outline: .15rem solid var(--priColor);
                            border-radius: 50%;
                            padding: .05rem;
                            position: relative;
                            transition: background-color .3s ease, opacity .3s ease;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            inset: -.25rem;
                            border-radius: 50%;
                            background: linear-gradient(to bottom, var(--paleSecAccent), var(--paleAccentTwo));
                            transition: opacity .3s ease;
                        }

                        &.active {
                            img {
                                background-color: var(--priColor);
                            }
                        }
                    }

                    .logInButton {
                        svg {
                            height: 2.5rem;
                            width: 2.5rem;
                        }
                    }

                    .mobileLogo {
                        svg {
                            height: 2.5rem;
                            width: 2.5rem;

                            background-color: var(--tpSec);
                            border-radius: 50%;
                            outline: .2rem solid var(--tpSec2);

                            #headerLogoMobile {

                                :first-child {
                                    stop-color: var(--priColor)
                                }

                                :nth-child(2) {
                                    stop-color: var(--priColor)
                                }
                            }
                        }

                        &.active {
                            svg {
                                background-color: var(--tpPri2);
                                border-radius: 50%;
                                outline: .2rem solid var(--tpPri2);

                                #headerLogoMobile {

                                    :first-child {
                                        stop-color: var(--logoAccentOne)
                                    }

                                    :nth-child(2) {
                                        stop-color: var(--logoAccentTwo)
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .categories-dp-mobile {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--tpPri3);
            gap: .5rem;
            padding: .7rem;
            z-index: 4;
            width: 100%;
            bottom: 100%;

            .divider {
                position: relative;
                background-color: var(--tertColor2);
                height: .2rem;
                margin: .5rem;

                &:nth-child(2) {
                    margin: 0;
                }
            }

            .categories-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 1.4rem;
                }

                button {
                    background-color: var(--tpPri2);
                    padding: .2rem;
                    border-radius: .5rem;
                    display: flex;
                    align-items: center;

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }

                    transition: color .3s,
                    background-color .3s;

                    &:active {
                        color: var(--accent);
                        background-color: var(--paleAccent);
                    }
                }
            }

            .subCatsList {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                border-radius: .5rem;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: .7rem;

                    li {
                        flex-grow: 1;

                        button {
                            display: flex;
                            gap: .5rem;
                            background-color: var(--tpPri2);
                            width: 100%;
                            border-radius: 1rem;
                            transition: background-color .2s;

                            img {
                                height: 5rem;
                                border-radius: .3rem;
                                background-color: var(--tpPri4);
                                aspect-ratio: 1/1;
                                object-fit: cover;

                                &[alt] {
                                    position: relative;
                                    max-height: 5rem;
                                    border-radius: .3rem;
                                    aspect-ratio: 1/1;
                                    object-fit: cover;
                                }
    
                                &::before {
                                    inset: .3rem;
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }

                            div {
                                padding-block: .3rem;
                                padding-right: .5rem;
                                width: 100%;
                                text-align: start;

                                p,
                                h4 {
                                    transition: color .3s;
                                }

                                h4 {
                                    color: var(--secColor);
                                }

                                p {
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    color: var(--tpSec);
                                }

                            }

                            &:active {
                                div {
                                    h4 {
                                        color: var(--accent);
                                    }

                                    p {
                                        color: var(--paleAccentTwo);
                                    }
                                }
                            }
                        }
                    }
                }

                .viewAllSubCats {
                    color: var(--secColor);
                    background-color: var(--tpPri2);
                    border: .15rem solid var(--tpPri2);
                    text-align: center;
                    padding: .3rem;
                    border-radius: 2rem;

                    transition: color .3s, background-color .3s;

                    &:active {
                        color: var(--accent);
                        background-color: var(--paleAccent);
                    }
                }
            }

            .catsList {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                @supports (height: fit-content) {
                    height: fit-content;
                }

                @supports not (height: fit-content) {
                    height: auto;
                }

                gap: .5rem;
                overflow-y: scroll;
                overflow-x: hidden;
                max-height: 15rem;

                @supports (scrollbar-width: none) {
                    scrollbar-width: none;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                li {
                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: .3rem;
                        width: 100%;
                        border-radius: 2rem;
                        border-radius: 50%;

                        h4 {
                            display: none;
                        }

                        img {
                            max-width: 5rem;
                            border-radius: 50%;
                            border: .2rem solid var(--tertColor2);
                            object-fit: cover;
                            aspect-ratio: 1/1;

                            &[alt] {
                                position: relative;
                                max-height: 4rem;
                                border-radius: 50%;
                                border: .2rem solid var(--tertColor2);
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }

                            &::before {
                                inset: .3rem;
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        &.active {
                            img{
                                border-color: var(--accent);
                            }
                        }
                    }
                }
            }
        }

        .categories-dp-mobile-enter {
            opacity: 0;
            transform: translateY(130vh);
        }

        .categories-dp-mobile-enter-active {
            opacity: 1;
            transform: translate(0);
            transition: opacity 200ms, transform 200ms;
        }

        .categories-dp-mobile-enter-done,
        .categories-dp-mobile-exit {
            opacity: 1;
            transform: translate(0);
        }

        .categories-dp-mobile-exit-active {
            opacity: 0;
            transform: translateY(130vh);
            transition: opacity 200ms, transform 200ms;
        }

        .settingsContainer {
            display: flex;
            flex-direction: column;
            z-index: 2;

            &.normalSettings {
                gap: 1rem;

                .themeSettings,
                .accountSettings {
                    flex-direction: column;
                    gap: .5rem;
                    padding: .5rem;
                    border-radius: .8rem;

                    background-color: var(--tpPri3);
                    box-shadow: var(--shadowColor) .12rem .2rem .5rem .1rem, var(--shadowColorTwo) 0 .5rem .5rem -.7rem;

                    transform: translateX(130%);
                    transition: transform .4s;

                    li:not(.divider) {

                        &:first-child {
                            h3 {
                                font-size: 1.1rem;
                                display: flex;
                                justify-content: space-between;

                                button {
                                    display: flex;
                                    align-items: center;
                                    gap: .3rem;

                                    span {
                                        font-size: .9rem;
                                    }

                                    svg {
                                        height: 1.3rem;
                                        width: 1.3rem;
                                    }

                                    transition: color .3s;

                                    &:focus-visible {
                                        outline-color: var(--reverseSecAccent);
                                    }

                                    &:hover {
                                        color: var(--accent);
                                    }

                                    &:active {
                                        color: var(--tpSec2);
                                    }
                                }
                            }

                            border-radius: .5rem;
                            padding-inline: .3rem;
                        }

                        &:not(:first-child) {

                            button,
                            a {
                                position: relative;
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                justify-content: space-between;

                                border-radius: .5rem;
                                padding: .5rem .7rem;

                                gap: 2.5rem;

                                background-color: var(--tpPri2);

                                transition: .3s ease background-color, color .3s ease;
                                outline: .2rem solid rgba(0, 0, 0, 0);

                                width: 100%;
                                font-size: 1rem;
                                overflow: hidden;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    inset: 0;
                                    background: linear-gradient(to right, var(--paleSecAccent), var(--paleAccentTwo));
                                    opacity: 0;
                                    border-radius: .5rem;
                                    z-index: 0;
                                    transition: opacity .3s ease;
                                }

                                P {
                                    color: var(--tpSec);
                                    transition: .3s ease background-color, color .3s ease;
                                }

                                svg {
                                    width: 2.2rem;
                                    height: 2.2rem;
                                    color: var(--tpSec);
                                    transition: .3s ease background-color, color .3s ease;
                                    transform: rotateY(180deg);
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    inset: 0;
                                    background: linear-gradient(to right, var(--paleSecAccent), var(--paleAccentTwo));
                                    opacity: 0;
                                    border-radius: .7rem;
                                    transition: opacity .3s ease;
                                }

                                &:focus-visible {
                                    outline-color: var(--reverseSecAccent);
                                }

                                &:hover {
                                    background-color: var(--paleAccent);

                                    p,
                                    svg {
                                        color: var(--accent);
                                    }
                                }

                                &:active {
                                    background-color: var(--tpPri3);
                                }

                                &.active {

                                    pointer-events: none;

                                    p,
                                    svg {
                                        color: var(--priColor);
                                        z-index: 1;
                                    }

                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .divider {
                        background: radial-gradient(var(--accent), var(--secAccent));
                        padding: .1rem;
                        margin-inline: .3rem;
                        border-radius: .3rem;
                        opacity: .7;
                    }
                }
            }

            &.mobileSettings {

                .themeSettings,
                .accountSettings {
                    width: 100%;
                    flex-direction: column;
                    gap: .5rem;
                    padding-bottom: 1rem;
                    padding-inline: 1rem;

                    background-color: var(--tpPri2);

                    li:not(.divider) {
                        width: 100%;

                        &:first-child {
                            h3 {
                                font-size: 1.1rem;
                                display: flex;
                                justify-content: space-between;

                                button {
                                    display: flex;
                                    align-items: center;
                                    gap: .3rem;

                                    span {
                                        font-size: .9rem;
                                    }

                                    svg {
                                        height: 1.3rem;
                                        width: 1.3rem;
                                    }

                                    transition: color .3s;

                                    &:focus-visible {
                                        outline-color: var(--reverseSecAccent);
                                    }

                                    &:hover {
                                        color: var(--accent);
                                    }

                                    &:active {
                                        color: var(--tpSec2);
                                    }
                                }
                            }

                            border-radius: .5rem;
                            padding-inline: .3rem;
                            margin-bottom: .5rem;
                        }

                        &:not(:first-child) {

                            button,
                            a {
                                position: relative;
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                justify-content: space-between;

                                border-radius: .5rem;
                                padding: .5rem .7rem;

                                gap: .5rem;
                                width: 100%;

                                background-color: var(--tpPri3);

                                transition: .3s ease background-color, color .3s ease;
                                outline: .2rem solid rgba(0, 0, 0, 0);

                                font-size: 1rem;
                                overflow: hidden;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    inset: 0;
                                    background: linear-gradient(to right, var(--paleSecAccent), var(--paleAccentTwo));
                                    opacity: 0;
                                    border-radius: .5rem;
                                    z-index: 0;
                                    transition: opacity .3s ease;
                                }

                                P {
                                    color: var(--tpSec);
                                    transition: .3s ease background-color, color .3s ease;
                                }

                                svg {
                                    width: 2.2rem;
                                    height: 2.2rem;
                                    color: var(--tpSec);
                                    transition: .3s ease background-color, color .3s ease;
                                    transform: rotateY(180deg);
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    inset: 0;
                                    background: linear-gradient(to right, var(--paleSecAccent), var(--paleAccentTwo));
                                    opacity: 0;
                                    border-radius: .7rem;
                                    transition: opacity .3s ease;
                                }

                                &:active {
                                    background-color: var(--tpPri2);

                                    p,
                                    svg {
                                        color: var(--accent);
                                    }
                                }

                                &.active {

                                    pointer-events: none;

                                    p,
                                    svg {
                                        color: var(--priColor);
                                        z-index: 1;
                                    }

                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

                .themeSettings {
                    z-index: 5;
                }

                .accountSettings {
                    z-index: 3;
                }
            }
        }

        .settingsContainer-enter {

            &.mobileSettings {

                .themeSettings,
                .accountSettings {
                    transform: translateY(130vh);
                }
            }

            &.normalSettings {

                .themeSettings,
                .accountSettings {
                    transform: translateX(130%);
                }
            }
        }

        .settingsContainer-enter-active {
            &.mobileSettings {

                .themeSettings,
                .accountSettings {
                    transform: translate(0);
                    transition: transform .5s;
                }

                .accountSettings {
                    transition-delay: .15s;
                }
            }

            &.normalSettings {

                .themeSettings,
                .accountSettings {
                    transform: translate(0);
                    transition: transform .3s;
                }

                .themeSettings {
                    transition-delay: .1s;
                }
            }
        }

        .settingsContainer-enter-done,
        .settingsContainer-exit {

            &.mobileSettings,
            &.normalSettings {

                .themeSettings,
                .accountSettings {
                    transform: translate(0);
                }
            }
        }

        .settingsContainer-exit-active {
            &.mobileSettings {

                .themeSettings,
                .accountSettings {
                    transform: translateY(130vh);
                    transition: transform .5s;
                }

                .accountSettings {
                    transition-delay: 0;
                }

                .themeSettings {
                    transition-delay: .15s;
                }


            }

            &.normalSettings {

                .themeSettings,
                .accountSettings {
                    transform: translateX(130%);
                    transition: transform .3s;
                }

                .themeSettings {
                    transition-delay: .1s;
                }
            }
        }
    }
}