.productDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;

  &#products-div-one {
    margin-top: 10%;
  }

  &#products-div-two {
    margin-top: 5%;
  }

  &#products {
    ul {
      li {
        backdrop-filter: blur(1rem);
      }
    }
  }

  .moving-arrow {
    display: inline-block;
    animation: moveUpDown 1s infinite;
  }

  h1 {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

    backdrop-filter: blur(.5rem);
    background-color: var(--secColor);
    border: 0.25rem solid var(--paleAccent);
    border-radius: .7rem;

    background: linear-gradient(65deg, var(--paleAccentThree) 0%, var(--paleAccent) 30%, var(--paleAccentThree) 70%);

    padding: .5rem;
    margin-bottom: 5%;

    pointer-events: none;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      position: absolute;
      display: block;

      inset: 0rem;
      border-radius: .5rem;
      // background: linear-gradient(-45deg, var(--secAccent) 0%, var(--accent) 30%, var(--paleAccentTwo) 50%, var(--secAccent) 70%);

      // background-color: ;
      background: var(--priColor);
      opacity: 70%;
      z-index: -5;
      backdrop-filter: blur(.5rem);
    }

    span {
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: center;
      text-shadow: .1rem .1rem 0 var(--paleAccentThree);
      font-size: 2.7rem;
      color: var(--accent);

      &:first-child {
        margin-right: .5rem;
      }

      &:last-child {
        margin-left: .5rem;
      }
    }

    p {
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: -0.18rem;
      font-family: antique-olive,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
      text-shadow: .1rem .1rem 0 var(--paleAccentThree);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem .8rem;

    li {
      position: relative;
      padding: .5rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      flex-grow: 1;

      // width: 16vmax;
      // height: 20vmax;
      width: 15rem;
      height: 20rem;

      color: var(--secColor);
      background-color: var(--paleAccent);
      border: 0.2rem solid var(--paleAccentThree);
      border-radius: 0.6rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      transition: all .3s ease-out;
      cursor: pointer;

      img {
        height: 10rem;
        width: 10rem;
      }

      h4 {
        text-align: center;
        color: var(--accent);
        font-size: 1.7rem;
        width: 100%;
        text-shadow: .08rem .07rem 0 var(--reversePaleAccent);
      }

      p {
        width: 100%;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .starDiv {
        pointer-events: none;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 3rem;
        // background-color: red;

        svg {
          position: relative;
          z-index: 3;
          width: 1.8rem;
          height: 1.8rem;
          color: orange;
        }
      }

      .discount-percentage {
        position: absolute;
        top: -0.7rem;
        left: -0.7rem;
        transform: rotate(-15deg);

        background-color: var(--reverseAccent);
        backdrop-filter: blur(1rem);
        padding: .2rem;
        color: var(--priColor);
        border-radius: 4px;
        text-shadow: none;
        opacity: .9;
      }

      .discount-price {
        font-size: 1rem;
        text-decoration: line-through;
        filter: grayscale(95%);
        text-shadow: none;
      }

      &:hover {
        color: var(--secColor);
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: var(--tpPri);
      }

      &:focus-visible {
        color: var(--secColor);
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: var(--tpPri);
      }

      &:active {
        background-color: var(--paleAccentThree);
        color: var(--secColor);
      }
    }
  }

  // ANIMATION FOR ARROWS

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 1000px) {
  .productDivs {
    width: 100%;

    h1 {
      margin-inline: 1.5rem;
      margin-block: 2rem 3rem;

      p {
        font-size: 1.5rem;
        letter-spacing: -.1rem;
      }

      span {
        font-size: 1.5rem;
      }
    }

    ul {
      padding-inline: 1rem;
      gap: 1rem .5rem;
    }

    &#products-div-two {
      margin-top: 0;

      h1 {
        margin-block: 3rem;
      }
    }
  }
}

@media (max-width: 735px) {
  .productDivs {
    width: 100%;

    h1 {
      margin-block: 2.5rem;
    }

    ul {
      padding-inline: .3rem;
      gap: 1.5rem .3rem;

      li {
        width: 11rem;
      }
    }

    &#products-div-two {
      h1 {
        margin-block: 3rem;
      }
    }
  }
}