@use "../../abstracts";


#products-div-one{
  display: flex;
  justify-content: center;
  width: 90vmax;
  align-items: center;
  margin-inline: auto;
  flex-direction: column;
  gap: .5rem;
  margin-block: 20rem 10rem;
  div{
    display: flex;
    gap: .5rem;
    section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5vmax;

      border: 0.2rem solid var(--paleAccentTwo);
      border-radius: 0.6rem;
      padding: 1rem;
      background-color: var(--tpSec);
      img{
        height: 9.5rem;
        width: 9.5rem;
      }
      a{
        color: var(--secColor);
        overflow: hidden;
      }
    }
  }
}


#products-div-two{
  display: flex;
  justify-content: center;
  width: 90vmax;
  align-items: center;
  margin-inline: auto;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 10rem;
  div{
    display: flex;
    gap: .5rem;
    section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5vmax;

      border: 0.2rem solid var(--paleAccentTwo);
      border-radius: 0.6rem;
      padding: 1rem;
      background-color: var(--tpSec);
      img{
        height: 19rem;
        width: 19rem;
      }
      a{
        color: var(--secColor);
        overflow: hidden;
      }
      h4{
        text-align: center;
      }
    }
  }
}

