@use "../../abstracts";

.loginDropdown {
    display: flex;
    justify-content: center;
    border: 0.15rem solid var(--tertColor);
    border-radius: 1.5rem;
    width: 45rem;
    height: 35rem;
    overflow: hidden;
    z-index: 15;
    transform: translateY(-100vh);
    opacity: 0;
    transition: 400ms all ease-in-out;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;

        div {
            gap: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        button {
            position: relative;
            bottom: -0.5vmax;
            background-color: white;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 0.5vmax;
            transition: 300ms all ease;

            &:hover {
                background-color: var(--accent);
                transition: 300ms all ease;
            }
        }
    }

    a {
        color: var(--secColor);
    }

    .loginUi {
        gap: 1rem;
        background-color: var(--tpPri);
        backdrop-filter: blur(2rem);

        section {
            gap: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
            margin-top: -5rem;

            div {
                flex-direction: row;
            }
        }

        .loginInput {
            div {
                position: relative;
            }

            input {
                position: relative;
                width: 14rem;
                height: 2.5rem;
                text-indent: 0.5rem;
                background-color: transparent;
                color: var(--secColor);
                backdrop-filter: blur(2rem);
                border: 0.15rem solid var(--tertColor);
                border-radius: 0.5rem;
                outline: none;
                caret-color: var(--secColor);
                margin: 0.2rem;

                &:focus {
                    border: 0.15rem solid var(--accent);
                }

                &::placeholder {
                    color: var(--secColor);
                }
            }

            label {
                position: absolute;
                top: 0.7rem;
                z-index: 1;
                pointer-events: none;
                transition: 300ms all ease;
            }
        }

        .loginFunc {
            margin-top: 1rem;

            section {
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .registerUi {
        background-color: var(--paleAccent);
        backdrop-filter: blur(3rem);
        gap: 2rem;
    }

    svg {
        height: 2.4rem;
        width: 2.4rem;
        fill: var(--secColor);
        transition: 300ms all ease;

        &:hover {
            transition: 300ms all ease;
        }

        &#facebook:hover {
            fill: rgb(0, 162, 255);
        }

        &#git:hover {
            fill: var(--accent);
        }

        &#google:hover {
            fill: rgb(255, 0, 0);
        }
    }
}

.on {
    transform: translateY(0vh);
    opacity: 1;
    transition: 400ms all ease-in-out;
}