@use "../../abstracts";

// NOTIFICATION CARD

.productAddedNotification,
.themeSelector {
    position: relative;
    min-width: 10rem;
    border-radius: 0.3vmax;

    display: grid;
    font-size: 1.1rem;
    grid-template-rows: 0fr;
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
    overflow: hidden;

    ul {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);
        li{
            opacity: 0;
        }
    }
}

.alertOn {
    grid-template-rows: 1fr;
    ul{
        padding: .5rem .3rem;
        li{
            opacity: 1;
        }
    }
}