@use "../../abstracts";

// NOTIFICATION CARD

.productAddedNotification,
.themeSelector {
    position: relative;
    min-width: 12rem;
    display: grid;
    font-size: 1.1rem;
    grid-template-rows: 0fr;
    transition: all .5s cubic-bezier(.19, 1, .22, 1);

    &::before {
        content: '';
        width: 95%;
        height: .15rem;
        border-radius: 1rem;
        position: absolute;
        background: linear-gradient(to right, var(--secAccent) 0%, var(--accent) 50%, var(--secAccent) 100%);
        justify-self: center;
        visibility: collapse;
    }

    ul {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);

        li {
            opacity: 0;
        }
    }
}

.alertOn {
    grid-template-rows: 1fr;

    &::before {
        visibility: visible;
    }

    ul {
        padding: .5rem .3rem;

        li {
            opacity: 1;
        }
    }
}