@use "../../abstracts";

.themeSelector {
    ul {
        li {
            margin: .2rem;
            border-radius: 0.5rem;
            border: .15rem solid var(--paleAccentThree);
            overflow: hidden;

            button {
                color: var(--secColor);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all .5s cubic-bezier(.19, 1, .22, 1);
                padding: .3rem;
                width: 100%;

                span {
                    margin-left: .5rem;
                }

                p{
                    font-size: large;
                }

                &:hover {
                    background-color: var(--priColor);
                    color: var(--accent);

                    span {
                        color: var(--accent);
                    }
                }

                &:focus-visible {
                    background-color: var(--priColor);
                    color: var(--accent);

                    span {
                        color: var(--accent);
                    }
                }

                &:active {
                    border-color: var(--accent);
                    color: var(--secColor);

                    span {
                        color: var(--secColor);
                    }
                }
            }

            &.selectedThemeMode {
                pointer-events: none;
                background: linear-gradient(45deg, var(--accent) 0%, var(--reverseSecAccent) 100%);
                border: none;

                button {
                    color: var(--priColor);

                    span {
                        color: var(--priColor);
                    }
                }
            }
        }
    }
}