:root {
    --priColor: rgb(243, 243, 243);
    --tpPri: rgba(255, 255, 255, 0.703);
    --secColor: rgba(0, 0, 0, 0.822);
    --secAccent: rgb(255, 85, 235);
    --accent: rgb(255, 79, 129);
    --tertAccent: rgb(255, 228, 78);
    --tertColor: rgba(128, 128, 128, 0.598);
    --paleAccent: rgba(255, 115, 0, 0.113);
}

.dark-mode {
    --priColor: #020202f0;
    --tpPri: rgba(0, 0, 0, 0.475);
    --secColor: rgb(243, 243, 243);
    --accent: rgb(84, 255, 204);
    --secAccent: rgba(95, 255, 89, 0.834);
    --tertAccent: rgb(255, 70, 196);
    --paleAccent: rgba(0, 255, 179, 0.092);
}