///////////  CATEGORIES LIST  ///////////// 

.categoriesListMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 80%;
    margin-inline: auto;
    padding: 1rem;
    gap: 2rem;

    .popularCategories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        gap: .7rem;
        border-radius: .7rem;
        width: 100%;

        h1 {
            font-size: 2rem;
            letter-spacing: -0.1rem;
            font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            -webkit-user-select: none;
            color: var(--secColor);
            user-select: none;
            text-shadow: 0.15rem 0.15rem 0 var(--priColor);
            text-indent: .5rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            li {
                width: 31.3%;
                flex-grow: 1;

                a {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: .5rem;
                    gap: .5rem;
                    background-color: var(--tpPri3);
                    box-shadow: rgba(0, 0, 0, 0.1) 0 .1rem .3rem 0, rgba(0, 0, 0, 0.06) 0 .1rem .2rem 0;
                    transition: scale .6s cubic-bezier(.19, 1, .22, 1);
                    height: 100%;

                    &::after {
                        position: absolute;
                        inset: -.5rem;
                        border-radius: .5rem;
                        background-color: var(--paleAccentThree);
                        opacity: 0;
                        z-index: -1;
                        content: "";
                        transform-origin: center;
                        transform: scaleX(0);
                        transition: transform .8s cubic-bezier(.19, 1, .22, 1), opacity .3s linear;
                    }

                    div {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        border-radius: .3rem;
                        padding: .5rem;
                        overflow: hidden;

                        h3 {
                            font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                            width: fit-content;
                            color: var(--secColor);
                        }

                        p {
                            font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                            text-transform: capitalize;
                            width: fit-content;
                            color: var(--tpSec);
                        }
                    }

                    img {
                        border-radius: .5rem;
                        transition: scale .6s cubic-bezier(.19, 1, .22, 1);
                    }

                    &:focus-visible {
                        &::after {
                            transform: scaleX(1);
                            opacity: .7;
                        }

                        div {
                            h3 {
                                color: var(--accent);
                            }

                            p {
                                color: var(--accent);
                            }
                        }
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                            opacity: .7;
                        }

                        div {
                            h3 {
                                &::after {
                                    transform: scaleX(1);
                                }
                            }
                        }

                        img {
                            scale: .95;
                        }
                    }

                    &:active {
                        &::after {
                            transform: scaleX(.9);
                            opacity: .7;
                        }

                        img {
                            scale: 1;
                        }

                        div {
                            p {
                                color: var(--accent);
                            }
                        }
                    }
                }
            }
        }
    }

    .smallCategoriesList {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
        border-radius: .5rem;

        h1 {
            font-size: 1.65rem;
            letter-spacing: -0.1rem;
            font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            -webkit-user-select: none;
            color: var(--secColor);
            user-select: none;
            text-shadow: 0.12rem 0.12rem 0 var(--priColor);
            text-indent: .5rem;
            width: 100%;

            display: flex;
            align-items: center;
            gap: 1rem;
        }

        ul {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 1rem;
            padding-bottom: 1rem;

            li {
                flex-grow: 1;

                a {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--tpPri3);
                    padding: 1rem;
                    border-radius: .3rem;
                    gap: .5rem;

                    box-shadow: rgba(0, 0, 0, 0.1) 0 .1rem .3rem 0, rgba(0, 0, 0, 0.06) 0 .1rem .2rem 0;
                    transition: scale .6s cubic-bezier(.19, 1, .22, 1);

                    div {
                        display: flex;
                        gap: .5rem;
                        width: max-content;
                        color: var(--secColor);

                        h4 {
                            position: relative;

                            &::after {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                display: block;
                                height: .125rem;
                                width: 100%;
                                background-color: var(--paleAccentTwo);
                                opacity: 0.8;
                                content: "";
                                transform-origin: left;
                                transform: scaleX(0);
                                transition: transform .8s cubic-bezier(.19, 1, .22, 1), opacity .3s linear;
                            }
                        }
                    }

                    img {
                        border-radius: .3rem;
                        height: 15rem;
                        transition: scale .8s cubic-bezier(.19, 1, .22, 1);
                    }

                    &:focus-visible {
                        background-color: var(--paleAccentTwo);

                        div {
                            h4 {
                                color: var(--priColor);

                                &::after {
                                    transform: scaleX(1);
                                    background-color: var(--priColor);
                                }
                            }

                            p {
                                color: var(--priColor);
                            }
                        }
                    }

                    &:hover {
                        div {
                            h4 {
                                &::after {
                                    transform: scaleX(1);
                                }
                            }
                        }

                        img {
                            scale: .95;
                        }
                    }

                    &:active {
                        scale: .9;

                        img {
                            scale: 1;
                        }

                        div {
                            p {
                                color: var(--accent);
                            }
                        }
                    }
                }
            }
        }
    }

    .popularProducts {
        display: flex;
        width: 100%;
        position: relative;
        gap: 1rem;
        border-radius: .5rem;
        overflow: hidden;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0 .1rem .3rem 0, rgba(0, 0, 0, 0.06) 0 .1rem .2rem 0;

        #visual {
            position: absolute;
            z-index: -2;
            top: 0;
            opacity: .75;
        }

        .introDiv {
            width: max-content;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            gap: 1rem;

            .popularSvg {
                border-radius: .5rem;
                height: 100%;
            }

            h1 {
                font-size: 3rem;
                letter-spacing: -0.1rem;
                font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                -webkit-user-select: none;
                color: white;
                user-select: none;
                text-shadow: 0.1rem 0.1rem 0 black;
                width: max-content;
            }

            p {
                position: relative;
                font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
                color: white;
                -webkit-user-select: none;
                user-select: none;
                text-shadow: 0.05rem 0.05rem 0 black;
                // text-align: center;
            }
        }

        ul {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 1rem;
            margin: 1rem;
            background-color: var(--paleAccentThree);
            backdrop-filter: blur(.5rem);
            padding: 1.5rem;
            border-radius: .5rem;

            li {
                a {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--tpPri2);
                    padding: 1rem;
                    gap: 1rem;
                    border-radius: .3rem;
                    transition: scale .6s cubic-bezier(.19, 1, .22, 1);

                    img {
                        border-radius: .3rem;
                        background-color: var(--tpPri3);
                        height: clamp(10rem, 4.5455rem + 10.9091vw, 25rem);
                        transition: scale .6s cubic-bezier(.19, 1, .22, 1);
                    }

                    .infoDiv {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: .5rem;
                        color: var(--secColor);

                        .title {
                            max-width: 25ch;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            transition: color .6s cubic-bezier(.19, 1, .22, 1);
                        }

                        div {
                            display: flex;
                            width: 100%;

                            &.priceDiv {
                                gap: 1rem;
                                align-items: center;

                                p {
                                    text-decoration: line-through;
                                    color: red;
                                    font-size: 1rem;
                                    transition: color .6s cubic-bezier(.19, 1, .22, 1);
                                }

                                h4 {
                                    font-size: 1.4rem;
                                    transition: color .6s cubic-bezier(.19, 1, .22, 1);
                                }
                            }

                            &.ratingDiv {
                                width: max-content;
                                align-items: center;
                                gap: .5rem;

                                p {
                                    transition: color .6s cubic-bezier(.19, 1, .22, 1);
                                }

                                .starsDiv {
                                    display: flex;
                                    color: var(--secAccent);

                                    svg {
                                        height: 2rem;
                                        width: 2rem;
                                    }
                                }
                            }
                        }
                    }

                    &:focus-visible {
                        outline: .3rem solid var(--secColor);
                        scale: 1.05;

                        .infoDiv {
                            p {
                                color: var(--accent);
                            }
                        }
                    }

                    &:hover {
                        .infoDiv {
                            p {
                                color: var(--accent);
                            }
                        }

                        img {
                            scale: .95;
                        }
                    }

                    &:active {
                        scale: .9;

                        .infoDiv {
                            h4 {
                                color: var(--accent);
                            }
                        }

                        img {
                            scale: 1;
                        }
                    }
                }
            }
        }
    }

    .manufacturers {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        ul {
            display: flex;
            width: fit-content;
            // flex-wrap: wrap;
            gap: 1rem;

            li {
                width: 50%;

                a {
                    border-radius: .3rem;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--tpPri2);
                    box-shadow: rgba(0, 0, 0, 0.1) 0 .1rem .3rem 0, rgba(0, 0, 0, 0.06) 0 .1rem .2rem 0;

                    img {
                        width: 100%;
                        // height: clamp(5rem, 4.5455rem + 10.9091vw, 15rem);
                        transition: scale .5s;
                    }

                    &:focus-visible {
                        outline: .3rem solid var(--accent);

                        img {
                            scale: 1.15;
                        }
                    }

                    &:hover {
                        img {
                            scale: 1.15;
                        }
                    }

                    &:active {
                        img {
                            scale: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .categoriesListMain {
        max-width: 90%;

        .popularProducts {
            #visual {
                height: 100%;
            }
        }

        .manufacturers {
            gap: .5rem;
            justify-content: center;

            ul {
                flex-wrap: wrap;
                justify-content: center;

                li {
                    width: 25%;
                    flex-grow: 1;

                    a {
                        border-radius: .7rem;

                        img {
                            transition: none;
                        }

                        &:hover {
                            img {
                                scale: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:800px) {
    .categoriesListMain {
        max-width: unset;
        width: 100%;
        padding-inline: 1rem;

        .popularCategories {
            ul {
                flex-direction: column;

                li {
                    position: relative;
                    width: 100%;

                    a {
                        border-radius: .7rem;
                        width: 100%;
                        overflow: hidden;
                        justify-self: center;
                        align-items: center;
                        flex-direction: row-reverse;
                        padding: .5rem;

                        div {
                            background-color: unset;
                            padding: .5rem;
                            align-items: center;
                            justify-self: center;
                            text-align: center;

                            h3,
                            p {
                                text-align: center;
                                width: 100%;
                            }
                        }

                        img {
                            height: 10rem;
                            border-radius: .7rem;
                        }
                    }
                }
            }
        }

        .smallCategoriesList {
            ul {
                overflow: auto;
                flex-wrap: wrap;
                gap: .5rem;

                li {
                    max-width: 32%;
                    flex-grow: 1;

                    a {
                        padding: .5rem;
                        border-radius: .5rem;
                        gap: .5rem;
                        height: 100%;
                        transition: none;

                        div {
                            gap: 0;
                            padding: .1rem;
                            width: 100%;

                            h4 {
                                font-size: .8rem;
                                font-weight: 500;
                                max-width: 99%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;

                                &::after {
                                    display: none;
                                }

                            }

                            p {
                                display: none;
                            }
                        }

                        img {
                            border-radius: .5rem;
                            // height: 8rem;
                            height:unset;
                            width: 100%;
                            transition: none;
                        }

                        &:hover {
                            div {
                                h4 {
                                    &::after {
                                        transform: none;
                                    }
                                }
                            }

                            img {
                                scale: 1;
                            }
                        }

                        &:active {
                            scale: 1;
                        }
                    }
                }
            }
        }

        .popularProducts {
            flex-direction: column;
            gap: .5rem;
            border-radius: .7rem;
            margin: 0;
            justify-content: flex-start;
            align-items: flex-start;

            #visual {
                height: 100%;
            }

            .introDiv {
                width: max-content;
                display: flex;
                flex-direction: column;
                margin: 1rem;
                gap: .5rem;

                .popularSvg {
                    display: none;
                }

                h1 {
                    font-size: 2.5rem;
                    width: fit-content;
                    gap: .5rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            ul {
                display: flex;
                overflow-x: scroll;
                width: 100%;
                gap: .5rem;
                margin: .5rem;
                padding: 1rem;
                border-radius: .5rem;

                li {
                    a {
                        padding: .5rem;
                        gap: .5rem;
                        border-radius: .5rem;
                        transition: none;

                        img {
                            border-radius: .5rem;
                            height: 15rem;
                            transition: none;
                        }

                        .infoDiv {
                            gap: .5rem;

                            .title {
                                max-width: 20ch;
                                transition: none;
                            }

                            div {

                                &.priceDiv {
                                    gap: .5rem;

                                    h4 {
                                        font-size: 1.3rem;
                                        transition: none;
                                    }
                                }

                                &.ratingDiv {
                                    gap: .3rem;

                                    p {
                                        transition: none;
                                    }

                                    .starsDiv {
                                        svg {
                                            height: 1.9rem;
                                            width: 1.9rem;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            img {
                                scale: 1;
                            }
                        }

                        &:active {
                            scale: 1;
                        }
                    }
                }
            }
        }
    }
}