@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
:root {
  --priColor: rgb(243, 243, 243);
  --tpPri: rgba(255, 255, 255, 0.703);
  --secColor: rgba(0, 0, 0, 0.822);
  --secAccent: rgb(208, 0, 255);
  --accent: rgb(255, 52, 150);
  --tertAccent: rgb(227, 255, 69);
  --tertColor: rgba(128, 128, 128, 0.598);
  --paleAccent: rgba(255, 0, 136, 0.072);
  --paleAccentTwo: rgba(255, 0, 123, 0.67);
  --paleAccentThree: rgba(227, 172, 199, 0.765);
}

.dark-mode {
  --priColor: rgba(29,29,31,1);
  --tpPri: rgba(0, 0, 0, 0.475);
  --secColor: rgb(243, 243, 243);
  --accent: rgb(59, 255, 157);
  --secAccent: rgba(0, 255, 55);
  --tertAccent: rgb(65, 204, 255);
  --paleAccent: rgba(0, 255, 128, 0.060);
  --paleAccentTwo: rgba(0, 255, 128, 0.703);
  --paleAccentThree: rgba(0, 255, 128, 0.248);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}

body {
  position: relative;
  font-family: "Segoe UI", Calibri, Verdana, sans-serif;
  background-color: var(--priColor);
  color: var(--secColor);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  image-rendering: crisp-edges;
}

a:hover,
span:hover,
button:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

header {
  height: 45rem;
  position: relative;
  display: grid;
  place-content: center;
  align-items: center;
}
header .headerGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--priColor)), radial-gradient(circle at left top, transparent 90%, rgba(0, 0, 0, 0), var(--priColor) 120%);
}

.headerBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9;
  top: -3rem;
}
.headerBackgroundImage svg {
  fill: transparent;
  transform: rotate(180deg);
}
.headerBackgroundImage svg #polgOne {
  fill: var(--accent);
}
.headerBackgroundImage svg #polgTwo {
  fill: var(--secAccent);
}
.headerBackgroundImage svg #polgThree {
  fill: var(--tertAccent);
}

.divider {
  position: relative;
  border-left: 0.2rem solid var(--accent);
  height: 1.8rem;
  border-radius: 1rem;
  margin: 0 0.2vrem 0 0.2rem;
}

.material-symbols-outlined {
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  font-weight: 550;
  color: var(--secColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: fixed;
  font-family: "Rubik Microbe", cursive;
  color: var(--tertAccent);
  font-size: 3vmax;
  top: 1vmax;
  left: 1vmax;
  mix-blend-mode: difference;
  pointer-events: none;
}

.search-form {
  position: absolute;
  left: 50%;
  top: 13rem;
  height: 0 !important;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.search-bar-container {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 35rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.7rem;
  border: 0.2rem solid var(--paleAccentThree);
  background-color: var(--tpPri);
  backdrop-filter: blur(2rem);
  overflow: hidden;
  transition: 300ms all ease;
  z-index: 3;
}
.search-bar-container .search-bar {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-indent: 1.5rem;
  color: var(--secColor);
}
.search-bar-container .search-bar::selection {
  background: var(--accent);
  color: var(--priColor);
}
.search-bar-container button {
  position: relative;
  height: 100%;
}
.search-bar-container button ::before {
  content: "";
  inset: 0;
  position: absolute;
  filter: blur(1.5rem);
  transition: 300ms all ease;
}
.search-bar-container button:active .material-symbols-outlined {
  color: var(--secAccent) !important;
}
.search-bar-container button:focus-visible span {
  color: var(--accent);
}
.search-bar-container button.clearButton, .search-bar-container button#searchButton {
  margin-left: 0.3rem;
  display: none;
}
.search-bar-container button.categoriesButton {
  position: relative;
  margin-right: 0.6rem;
}
.search-bar-container button:hover {
  color: var(--accent);
  transition: 300ms all ease;
}
.search-bar-container button:hover .material-symbols-outlined {
  color: var(--accent);
}
.search-bar-container button:hover ::before {
  background-color: var(--accent);
}
.search-bar-container .divider {
  position: relative;
  border-left: 0.2rem solid var(--accent);
  height: 70%;
  border-radius: 1rem;
  margin: 0 0.3rem 0 0.3rem;
}

.visible {
  display: block !important;
}

.active {
  border: 0.2rem solid var(--paleAccentTwo);
  transition: 300ms all ease;
}

.opCt {
  top: -2.8rem;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 0.3rem !important;
  border-bottom-right-radius: 0.3rem !important;
  transition: all 300ms ease-in-out;
}

.search-suggestions {
  position: absolute;
  top: 3.3rem;
  width: 40rem;
  background-color: var(--tpPri);
  backdrop-filter: blur(3rem);
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 1.7rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: 400ms all ease;
  overflow: hidden;
  z-index: 3;
}
.search-suggestions::before {
  content: "";
  position: absolute;
  border: 0.2rem solid var(--paleAccentTwo);
  border-radius: inherit;
  inset: 0;
}
.search-suggestions ul {
  overflow: hidden;
}
.search-suggestions ul li {
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-bottom: 0.2rem solid var(--paleAccent);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-suggestions ul li::before {
  content: "";
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 1rem;
  background-image: url(../imgs/cat/fWear/womensWear.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  margin-inline: 0.8rem;
  transition: all 300ms ease;
  position: relative;
  background-color: var(--paleAccent);
  border: 0.2rem solid var(--paleAccent);
}
.search-suggestions ul li:nth-child(6) {
  border: none;
}
.search-suggestions ul li:first-child {
  height: 6rem;
  font-size: 1.2rem;
}
.search-suggestions ul li:first-child h6 {
  position: absolute;
  right: 1.5rem;
  margin-right: -1.5rem;
  width: 25%;
}
.search-suggestions ul li:first-child::before {
  width: 4.3rem;
  height: 4.3rem;
  margin-top: 0.2rem;
  margin-left: 0.7rem;
}
.search-suggestions ul li.viewAll {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-suggestions ul li.viewAll::before {
  width: 0;
  height: 0;
  display: none;
  margin: 0;
  position: absolute;
}
.search-suggestions ul li.viewAll::after {
  content: "";
  position: absolute;
  background-color: var(--paleAccentThree);
  top: 0rem;
  width: 100%;
  height: 0.2rem;
  z-index: -1;
}
.search-suggestions ul li p {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-suggestions ul li h6 {
  position: absolute;
  right: 0.5rem;
  margin-right: -1.5rem;
  width: 25%;
}
.search-suggestions ul li:hover {
  color: var(--accent);
  background-color: var(--paleAccent);
  transition: 350ms all ease-in-out;
}
.search-suggestions ul li:hover::before {
  border-color: var(--paleAccentTwo);
}

.opCtS2g {
  top: 0.4rem;
  transition: all 300ms ease-in-out;
}

.ctDropDown {
  position: absolute;
  display: flex;
  width: 85rem;
  height: 42rem;
  justify-content: space-between;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.7rem;
  background-color: var(--tpPri);
  border: 0.2rem solid var(--paleAccent);
  backdrop-filter: blur(2rem);
  overflow: hidden;
  padding: 1rem;
  transform: translateY(100vh);
  transform-origin: 150% 15%;
  visibility: collapse;
  transition: transform 400ms ease-in-out;
  overflow: hidden;
  z-index: 2;
}
.ctDropDown ul {
  position: relative;
}
.ctDropDown .categories-ul {
  display: flex;
  min-width: 14rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  user-select: none;
}
.ctDropDown .categories-ul li {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  margin-right: 0.7rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2.5rem;
  border: 0.15rem solid var(--paleAccent);
  --opacity: 1;
  font-weight: 550;
  transition: all 300ms ease;
}
.ctDropDown .categories-ul li::before {
  content: "";
  display: block;
  opacity: var(--opacity);
  width: 3.2rem;
  height: 3.2em;
  border-radius: 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.3rem;
  transition: all 300ms ease;
  position: relative;
  left: -0.2rem;
  border: 0.2rem solid var(--paleAccent);
}
.ctDropDown .categories-ul li:hover {
  color: var(--accent);
  cursor: pointer;
  transition: all 300ms ease;
}
.ctDropDown .categories-ul::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  width: 0.1rem;
  height: 95%;
  right: -0.5rem;
}
.ctDropDown .categories-ul #electronics::before {
  background-color: #78f5b2;
  background-image: url(../imgs/cat/tech/technology.png);
}
.ctDropDown .categories-ul #jewellery::before {
  background-color: #fff6ae;
  background-image: url(../imgs/cat/jewels/jewellery.png);
  background-size: 2.5rem;
}
.ctDropDown .categories-ul #mensWear::before {
  background-color: #ffaeef;
  background-image: url(../imgs/cat/mWear/mensWear.png);
}
.ctDropDown .categories-ul #womensWear::before {
  background-color: #aeecff;
  background-image: url(../imgs/cat/fWear/womensWear.png);
  background-position: 0.5rem 0.5rem;
}
.ctDropDown .activeCat {
  color: var(--accent);
  font-weight: 600;
  background-color: var(--paleAccent);
  border-color: var(--paleAccentTwo) !important;
}
.ctDropDown .activeCat::before {
  border: 0.2rem solid var(--paleAccentTwo) !important;
}
.ctDropDown .sub-categories-ul {
  display: flex;
  width: 50rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}
.ctDropDown .sub-categories-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--paleAccent);
  border: 0.2rem solid var(--paleAccent);
  border-top-left-radius: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 2rem;
  width: 45%;
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0.5rem 0rem;
  transition: 500ms all ease;
}
.ctDropDown .sub-categories-ul li section {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.ctDropDown .sub-categories-ul li::before {
  content: "";
  display: block;
  width: 18rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem;
}
.ctDropDown .sub-categories-ul li.see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.ctDropDown .sub-categories-ul li.see-all::before {
  display: none;
}
.ctDropDown .sub-categories-ul li.see-all:hover {
  cursor: pointer;
  color: var(--accent);
}
.ctDropDown .sub-categories-ul li:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: var(--paleAccentTwo);
  transition: 400ms all ease-in-out;
}
.ctDropDown .sub-categories-ul li:hover h3 {
  color: var(--accent);
}
.ctDropDown .sub-categories-ul .sub-one {
  --bgimg: url("../imgs/cat/tech/sub/pc.png");
}
.ctDropDown .sub-categories-ul .sub-one::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-two {
  --bgimg: url("../imgs/cat/tech/sub/phone.png");
}
.ctDropDown .sub-categories-ul .sub-two::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-three {
  --bgimg: url("../imgs/cat/tech/sub/wmachine.png");
}
.ctDropDown .sub-categories-ul .sub-three::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-four {
  --bgimg: url("../imgs/cat/tech/sub/xbox.png");
}
.ctDropDown .sub-categories-ul .sub-four::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-five {
  --bgimg: url("../imgs/cat/tech/sub/switch.png");
}
.ctDropDown .sub-categories-ul .sub-five::before {
  background-image: var(--bgimg);
}
.ctDropDown .relevant-products {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ctDropDown .relevant-products li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  height: 18rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 2rem;
  background-image: url(../imgs/cat/sub/4090.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: var(--paleAccentTwo);
  color: black;
}
.ctDropDown .relevant-products li p {
  max-width: 70%;
  font-weight: 550;
}
.ctDropDown .relevant-products li h1 {
  margin-top: 1rem;
  max-width: 70%;
}
.ctDropDown .relevant-products::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  width: 0.1rem;
  height: 95%;
  left: -0.5rem;
}

.ctDropDownOn {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.cartNotification {
  position: relative;
  border-radius: 0.3rem;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right, var(--paleAccentTwo), var(--secAccent));
  color: var(--priColor);
  display: grid;
  font-size: 1.1rem;
  grid-template-rows: 0fr;
  transition: 350ms all ease-in-out;
  overflow: hidden;
}
.cartNotification ul {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartNotification ul :first-child {
  margin-top: 0.2rem;
}
.cartNotification .notifCancel {
  width: 90%;
  background-color: var(--tpPri);
  font-size: 1.1rem;
  font-family: "Share Tech", sans-serif;
  padding: 0.2rem;
  border-radius: inherit;
  transition: 300ms all ease;
  margin-block: 0.5rem;
  color: var(--secColor);
  border: 0.15rem solid var(--paleAccent);
}
.cartNotification .notifCancel:hover {
  color: var(--accent);
  background-color: var(--priColor);
  transition: 300ms all ease;
}
.cartNotification .notifCancel:focus-visible {
  border-color: var(--accent);
  background-color: var(--priColor);
  color: var(--accent);
}
.cartNotification .notifCancel:active {
  border-color: var(--accent);
  opacity: 0.6;
}

.alertOn {
  grid-template-rows: 1fr;
}

nav {
  position: fixed;
  right: 1.5rem;
  min-width: 10rem;
  top: 1rem;
  user-select: none;
  background-color: var(--tpPri);
  backdrop-filter: blur(1rem);
  border: 0.2rem solid var(--paleAccentThree);
  border-top-left-radius: 1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  z-index: 10;
}
nav .navigationLists {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
nav .navigationLists li {
  position: relative;
}
nav .navigationLists li .material-symbols-outlined {
  font-size: 1.7rem;
}
nav .navigationLists li ::before {
  content: "";
  inset: 0;
  position: absolute;
  filter: blur(1.8rem);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
nav .navigationLists li a:active .material-symbols-outlined {
  color: var(--secAccent);
}
nav .navigationLists li a:focus-visible span {
  color: var(--accent);
}
nav .navigationLists li:hover {
  color: var(--accent);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
nav .navigationLists li:hover .material-symbols-outlined {
  color: var(--accent);
}
nav .navigationLists li:hover ::before {
  background-color: var(--accent);
}

footer {
  position: relative;
  bottom: 0;
  height: 42vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  height: 0.1rem;
  width: 97%;
  bottom: 6rem;
}
footer .footerMain {
  position: relative;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
footer .footerMain section {
  min-width: 30rem;
  min-height: 20vmax;
}
footer .contact {
  position: absolute;
  left: 30rem;
  bottom: 15rem;
  width: 60%;
}
footer .contact div {
  font-size: 2rem;
  height: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
footer .footFooter {
  position: absolute;
  bottom: 1.5rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footFooter .legal {
  gap: 1rem;
}
footer .footFooter .legal a {
  position: relative;
  color: var(--secColor);
  font-weight: 600;
  text-transform: uppercase;
  transition: 300ms all ease;
  font-size: 1.1rem;
  opacity: 0.6;
}
footer .footFooter .legal a:hover {
  color: var(--accent);
  transition: 300ms all ease;
}
footer .footFooter .legal a::before {
  content: "";
  position: absolute;
  inset: -0.5rem;
  width: 0;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.3rem;
  background-color: var(--paleAccentTwo);
  opacity: 0;
  transition: width 0.7s cubic-bezier(0.2, 0.5, 0.5, 1), opacity 0.3s ease;
  z-index: -1;
}
footer .footFooter .legal a:hover {
  opacity: 1;
  color: var(--priColor);
}
footer .footFooter .legal a:hover::before {
  width: 110%;
  opacity: 1;
}
footer .footFooter .legal a#disclaimer:hover::before {
  width: 115%;
}
footer .footFooter .socials {
  gap: 0.3rem;
}
footer .footFooter .socials legend {
  transition: 300ms all ease;
  text-transform: uppercase;
  color: var(--secColor);
  opacity: 0.6;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 1rem;
}
footer .footFooter .socials legend:hover {
  opacity: 1;
  color: var(--secColor);
  transition: 300ms all ease;
  cursor: default;
}
footer .footFooter .socials a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footFooter .socials a::before {
  content: "";
  inset: -0.35rem;
  border-radius: 50%;
  background-color: var(--accent);
  opacity: 0;
  position: absolute;
  transition: scale 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
  transform-origin: center;
  scale: 0;
  z-index: -1;
}
footer .footFooter .socials a:hover::before {
  scale: 1;
  opacity: 1;
}
footer .footFooter .socials a:hover svg {
  fill: var(--priColor);
}
footer .footFooter .socials svg {
  height: 3rem;
  width: 3rem;
  fill: var(--tertColor);
  transition: 300ms all ease;
}
footer .footFooter .footerLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
footer .footFooter .footerLanguage .divider {
  height: 2rem;
}
footer .footFooter .footerLanguage a {
  position: relative;
  height: 1.5rem;
  color: var(--secColor);
  font-weight: 600;
  text-transform: uppercase;
  transition: 300ms all ease;
  font-size: 1.1rem;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footFooter .footerLanguage a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2rem;
  background-color: var(--accent);
  transition: width 0.7s cubic-bezier(0.2, 0.5, 0.3, 1), opacity 0.3s ease;
  z-index: -1;
}
footer .footFooter .footerLanguage a:hover {
  opacity: 1;
  color: var(--priColor);
}
footer .footFooter .footerLanguage a:hover::before {
  width: 130%;
}
footer .footFooter .footerLanguage a.english::before {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  right: -0.5rem;
}
footer .footFooter .footerLanguage a.macedonian::before {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  left: -0.5rem;
}
footer .footFooter .footerLanguage a.macedonian:hover::before {
  width: 120%;
}
footer .footFooter ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
footer .footFooter li {
  display: flex;
  justify-content: center;
}
footer .footFooter li:hover {
  color: var(--secColor);
}

.footerBackgroundImage {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -9;
}
.footerBackgroundImage svg {
  position: absolute;
  bottom: 0;
  fill: transparent;
}
.footerBackgroundImage svg #polgOne {
  fill: var(--accent);
}
.footerBackgroundImage svg #polgTwo {
  fill: var(--tertAccent);
}
.footerBackgroundImage svg #polgThree {
  fill: var(--tertAccent);
}
.footerBackgroundImage .footerGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--priColor)), radial-gradient(circle at right bottom, transparent 50%, rgba(0, 0, 0, 0), var(--priColor) 120%);
}

.newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
}
.newsletter p {
  font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--priColor);
  text-indent: 0.5rem;
  margin-top: -1rem;
  user-select: none;
  text-shadow: 0.1rem 0.1rem 0 var(--secColor);
}
.newsletter h1 {
  font-size: 6.5rem;
  letter-spacing: -0.3rem;
  line-height: 5rem;
  font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: lowercase;
  margin-bottom: 2rem;
  user-select: none;
  text-shadow: 0.1rem 0.1rem 0 var(--tpPri);
}
.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.newsletter form div {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsletter form button {
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.45rem;
  border-bottom-right-radius: 1.5rem;
  border: 0.15rem solid var(--secColor);
  transition: 300ms all ease;
}
.newsletter form button:hover {
  border-color: var(--accent);
}
.newsletter form button:hover svg {
  fill: var(--accent);
  transition: 300ms all ease;
}
.newsletter input {
  width: 16rem;
  height: 3rem;
  font-size: 1.1rem;
  text-indent: 0.7rem;
  background-color: var(--tpPri);
  background: transparent;
  color: var(--secColor);
  border: 0.15rem solid var(--secColor);
  border-top-left-radius: 1.5rem;
  transition: 300ms all ease;
}
.newsletter input::selection {
  background: var(--accent);
  color: var(--priColor);
}
.newsletter input:invalid:not(:placeholder-shown) {
  border-color: red;
}
.newsletter input:invalid:not(:placeholder-shown) ~ label {
  opacity: 1;
  color: var(--priColor);
  background: rgb(255, 50, 50);
  transform: translateY(-105%);
}
.newsletter input:valid {
  border-color: var(--accent);
}
.newsletter input:valid ~ label {
  opacity: 1;
  color: var(--priColor);
  background: var(--accent);
  transform: translateY(-105%);
}
.newsletter input:focus {
  border: 0.15rem solid var(--accent);
  transition: 300ms all ease;
}
.newsletter input:focus ~ label {
  opacity: 1;
  color: var(--priColor);
  background: var(--accent);
  transform: translateY(-105%);
}
.newsletter label {
  position: absolute;
  pointer-events: none;
  border-radius: 1rem;
  padding-inline: 0.5rem;
  transition: 300ms all ease;
  font-size: 1.1rem;
}
.newsletter svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--secColor);
  transition: 300ms all ease;
}

.footerHero {
  width: 35rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerHero .footerLogo {
  position: relative;
  top: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-family: "Rubik Microbe", cursive;
  color: var(--accent);
  user-select: none;
  width: 75%;
  height: 70%;
  border-radius: 50%;
  backdrop-filter: blur(0.5rem);
  border: 0.15rem solid var(--accent);
  background-color: var(--tpPri);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.getintouch p {
  position: relative;
  left: 3.7rem;
  top: -3.7rem;
  font-family: Matter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--priColor);
  user-select: none;
  text-shadow: 0.1rem 0.1rem 0 var(--secColor);
}
.getintouch a {
  position: relative;
  top: -3rem;
  left: 3rem;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--secColor);
  letter-spacing: -0.2rem;
  font-family: antique-olive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-transform: lowercase;
  text-shadow: 0.1rem 0.1rem 0 var(--tpPri);
}
.getintouch a.adress {
  margin-top: 1rem;
  letter-spacing: -0.3rem;
}

main {
  overflow: hidden;
}
main svg {
  fill: transparent;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -10;
}

.loginDropdown {
  position: fixed;
  top: -20rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  border: 0.3rem solid var(--paleAccent);
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 50rem;
  height: 40rem;
  overflow: hidden;
  opacity: 0;
  transition: 400ms all ease-in-out;
  visibility: collapse;
  box-shadow: rgba(0, 0, 0, 0.646) 0 0 5rem;
  z-index: 15;
}
.loginDropdown form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginDropdown form div {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginDropdown form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.45rem;
  border-radius: 2rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.8rem;
  transition: 300ms all ease;
}
.loginDropdown form span {
  font-weight: 650;
  user-select: none;
  pointer-events: none;
}
.loginDropdown form a {
  color: var(--secColor);
}
.loginDropdown input {
  text-indent: 1rem;
  width: 14rem;
  height: 3rem;
  font-size: 1.1rem;
  text-indent: 0.5rem;
  background-color: var(--tpPri);
  color: var(--secColor);
  border: 0.15rem solid var(--paleAccentThree);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.2rem;
  outline: none;
  margin: 0.5rem;
  transition: 300ms all ease;
}
.loginDropdown input#agree {
  background: none;
  width: auto;
  height: auto;
}
.loginDropdown input::selection {
  background: var(--accent);
  color: var(--priColor);
}
.loginDropdown input:invalid:not(:placeholder-shown) {
  border-color: red;
}
.loginDropdown input:invalid:not(:placeholder-shown) ~ label {
  opacity: 1;
  color: var(--priColor);
  background: rgb(255, 50, 50);
  transform: translateY(-110%);
}
.loginDropdown input:valid {
  border-color: var(--accent);
}
.loginDropdown input:valid ~ label {
  opacity: 1;
  color: var(--priColor);
  background: var(--accent);
  transform: translateY(-110%);
}
.loginDropdown input:focus {
  border: 0.15rem solid var(--accent);
  transition: 300ms all ease;
}
.loginDropdown input:focus ~ label {
  opacity: 1;
  color: var(--priColor);
  background: var(--accent);
  transform: translateY(-110%);
}
.loginDropdown label {
  position: absolute;
  pointer-events: none;
  border-radius: 1rem;
  padding-inline: 0.5rem;
  transition: 300ms all ease;
  opacity: 0.6;
}
.loginDropdown svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--secColor);
  transition: 300ms all ease;
}
.loginDropdown svg:hover {
  fill: var(--accent);
  transition: 300ms all ease;
}
.loginDropdown svg#google {
  width: 2.4rem;
  height: 2.4rem;
}
.loginDropdown .loginInput {
  transform: translateY(-3rem) !important;
  position: absolute;
  visibility: visible;
  transition: visibility 100ms all ease-in-out;
}

.on {
  opacity: 1;
  top: 5rem;
  visibility: visible;
  transition: visibility 100ms all ease-in-out;
}

@media (max-width: 1440px) {
  .loginDropdown {
    width: 45rem;
    height: 35rem;
    top: 2rem;
  }
}
.forgotPS .loginUi {
  width: 0%;
}
.forgotPS .registerUi {
  width: 0;
}
.forgotPS .registerUi * {
  transform: translateX(-13rem) !important;
  transition: 250ms transform ease-in-out;
}
.forgotPS .registerUi .registerButton {
  transform: translateX(-13rem) !important;
  transition: 250ms transform ease-in-out;
}
.forgotPS .forgotPass {
  width: 100%;
}
.forgotPS .forgotPass *:not(label) {
  transform: translateY(0);
  transition: 550ms transform ease-in-out;
}

.loginUi {
  position: relative;
  width: 50%;
  background-color: var(--tpPri);
  backdrop-filter: blur(2rem);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 500ms all ease-in-out;
}
.loginUi button {
  position: relative;
  margin: 1rem;
  border: 0.15rem solid var(--accent);
  color: var(--accent);
  transition: 500ms all ease;
}
.loginUi button:hover {
  background-color: var(--accent);
  color: var(--priColor);
  transition: 500ms all ease;
}
.loginUi span {
  color: var(--accent);
}
.loginUi div {
  gap: 1.5rem;
}
.loginUi div a {
  font-weight: 600;
  transition: 300ms all ease;
}
.loginUi div a:hover {
  color: var(--accent);
  text-decoration: underline;
  transition: 300ms all ease;
}
.loginUi section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginUi section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.loginUi section:first-child h1 {
  font-size: xx-large;
  margin-top: -10rem;
}
.loginUi section:nth-child(2) {
  margin-block-start: 1rem;
  gap: 0.5rem;
}
.loginUi section:nth-child(2) div {
  flex-direction: row;
}
.loginUi section:nth-child(3) {
  margin: 1rem;
  gap: 0.5rem;
}
.loginUi section:nth-child(3) div {
  position: relative;
}

.loginOff {
  width: 0%;
  transition: 500ms all ease-in-out;
}

.registerUi {
  width: 50%;
  background-color: var(--paleAccentTwo);
  color: var(--priColor);
  backdrop-filter: blur(0);
  gap: 2rem;
  transition: 500ms all ease-in-out;
  overflow: hidden;
}
.registerUi * {
  transform: translateX(0rem);
  transition: 300ms all ease-in-out;
  transition: 1000ms transform ease-in-out;
}
.registerUi .registerButton {
  transition: 300ms all ease-in-out;
  transition: 700ms transform ease-in-out;
}
.registerUi button {
  border: 0.15rem solid var(--priColor);
  background-color: transparent;
  color: var(--priColor);
  transition: 300ms all ease-in-out;
}
.registerUi button:hover {
  transition: 300ms all ease-in-out;
  background-color: var(--priColor);
  color: var(--accent);
}
.registerUi span {
  color: var(--priColor);
}
.registerUi .fields {
  display: none;
  opacity: 0;
  visibility: collapse;
}
.registerUi .fields .checkBoxes {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  user-select: none;
}
.registerUi .fields .checkBoxes span {
  pointer-events: all !important;
}
.registerUi .fields .checkBoxes span:hover {
  text-decoration: underline;
}
.registerUi .fields .checkBoxes #agree {
  position: relative;
  margin-top: 0.7rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  appearance: none;
  transition: 300ms all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerUi .fields .checkBoxes #agree::after {
  content: "";
  position: relative;
  display: none;
  top: -0.1rem;
  width: 0.5rem;
  height: 1rem;
  border: solid var(--priColor);
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  visibility: hidden;
}
.registerUi .fields .checkBoxes #agree:checked {
  opacity: 1 !important;
}
.registerUi .fields .checkBoxes #agree:checked::after {
  visibility: visible;
}
.registerUi .fields .checkBoxes #agree:not(:checked) {
  border-color: var(--accent) !important;
}
.registerUi .fields .checkBoxes #agree:hover {
  opacity: 0.6;
  transition: 300ms all ease;
}
.registerUi .fields .checkBoxes #agree:checked {
  background-color: var(--accent);
}
.registerUi .cancel {
  position: absolute;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  left: 0.5rem;
  visibility: collapse;
  border: none;
  opacity: 0;
}
.registerUi .cancel svg {
  fill: var(--accent);
  border-radius: 0.5rem;
  padding: 0.1rem;
  outline: 0.2rem solid var(--accent);
  width: 2.5rem;
  height: 2rem;
}
.registerUi .cancel:hover svg {
  fill: var(--priColor);
  background-color: var(--accent);
}

.regOn {
  width: 100%;
  background-color: var(--tpPri);
  color: var(--secColor);
  backdrop-filter: blur(2rem);
}
.regOn .fields {
  display: block;
  opacity: 1;
  visibility: visible;
}
.regOn .fields #agree {
  visibility: visible;
}
.regOn .fields #agree::after {
  display: block !important;
  border-color: var(--priColor) !important;
}
.regOn .cancel {
  opacity: 1;
  visibility: visible;
}
.regOn .cancel:hover {
  background-color: transparent;
}
.regOn button {
  position: relative;
  margin: 1rem;
  border: 0.15rem solid var(--accent);
  background-color: var(--priColor);
  color: var(--accent);
}
.regOn button:hover {
  background-color: var(--accent);
  color: var(--priColor);
}
.regOn span {
  color: var(--accent);
}

.forgotPass {
  position: relative;
  width: 0%;
  background-color: var(--tpPri);
  backdrop-filter: blur(2rem);
  overflow: hidden;
  gap: 1.5rem;
  transition: 500ms all ease-in-out;
}
.forgotPass *:not(label) {
  transform: translateY(-25rem);
  transition: 300ms all ease-in-out;
  transition: 500ms transform ease-in-out;
}
.forgotPass section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}
.forgotPass section button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid var(--accent);
  color: var(--accent);
  transition: 500ms all ease;
}
.forgotPass section button:hover {
  background-color: var(--accent);
  color: var(--priColor);
  transition: 500ms all ease;
}
.forgotPass span {
  color: var(--accent);
}

.cancelFP {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: transparent;
  border: none;
  transition: 350ms all ease-in-out;
}
.cancelFP svg {
  fill: var(--accent);
  border-radius: 0.5rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.7rem;
  padding: 0.1rem;
  outline: 0.2rem solid var(--accent);
  width: 2.5rem;
  height: 2rem;
}
.cancelFP:hover svg {
  fill: var(--priColor);
  transition: 350ms all ease-in-out;
  background-color: var(--accent);
}/*# sourceMappingURL=styles.css.map */