@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
:root {
  --priColor: rgb(243, 243, 243);
  --tpPri: rgba(255, 255, 255, 0.703);
  --secColor: rgba(0, 0, 0, 0.822);
  --secAccent: rgb(255, 85, 235);
  --accent: rgb(255, 79, 129);
  --tertAccent: rgb(255, 228, 78);
  --tertColor: rgba(128, 128, 128, 0.598);
  --paleAccent: rgba(255, 115, 0, 0.113);
}

.dark-mode {
  --priColor: #020202f0;
  --tpPri: rgba(0, 0, 0, 0.475);
  --secColor: rgb(243, 243, 243);
  --accent: rgb(84, 255, 204);
  --secAccent: rgba(95, 255, 89, 0.834);
  --tertAccent: rgb(255, 70, 196);
  --paleAccent: rgba(0, 255, 179, 0.092);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Segoe UI", Calibri, Verdana, sans-serif;
  background-color: var(--priColor);
  color: var(--secColor);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  image-rendering: crisp-edges;
}

a:hover,
span:hover,
button:hover {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

header {
  height: 70vh;
  height: 70svh;
  width: 100svw;
  position: relative;
  display: grid;
  place-content: center;
  align-items: center;
}
header .headerGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--priColor)), radial-gradient(circle at left top, transparent 50%, rgba(0, 0, 0, 0), var(--priColor) 120%);
}

.headerBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9;
}
.headerBackgroundImage svg {
  fill: transparent;
  transform: rotate(180deg);
}
.headerBackgroundImage svg #polgOne {
  fill: var(--accent);
}
.headerBackgroundImage svg #polgTwo {
  fill: var(--secAccent);
}
.headerBackgroundImage svg #polgThree {
  fill: var(--tertAccent);
}

.divider {
  position: relative;
  border-left: 0.2rem solid var(--accent);
  height: 1.8rem;
  border-radius: 1rem;
  margin: 0 0.2vrem 0 0.2rem;
}

.material-symbols-outlined {
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  font-weight: 550;
  color: var(--secColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: fixed;
  font-family: "Rubik Microbe", cursive;
  color: var(--accent);
  font-size: 3vmax;
  top: 1vmax;
  left: 1vmax;
  mix-blend-mode: difference;
}

.search-form {
  position: absolute;
  left: 50%;
  top: 13rem;
  height: 0 !important;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 35rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.7rem;
  border: 0.15rem solid var(--tertColor);
  background-color: var(--tpPri);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  overflow: hidden;
  transition: 300ms all ease;
  z-index: 6;
}
.search-bar-container .search-bar {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: inherit;
  border: none;
  outline: none;
  text-indent: 1rem;
  color: var(--secColor);
}
.search-bar-container button {
  position: relative;
  height: 100%;
}
.search-bar-container button ::before {
  content: "";
  inset: 0;
  position: absolute;
  filter: blur(1.5rem);
  transition: 300ms all ease;
}
.search-bar-container button.clearButton, .search-bar-container button#searchButton {
  margin-left: 0.3rem;
  display: none;
}
.search-bar-container button.categoriesButton {
  position: relative;
  margin-right: 0.6rem;
}
.search-bar-container button:hover {
  color: var(--accent);
  transition: 300ms all ease;
}
.search-bar-container button:hover .material-symbols-outlined {
  color: var(--accent);
}
.search-bar-container button:hover ::before {
  background-color: var(--accent);
}
.search-bar-container .divider {
  position: relative;
  border-left: 0.2rem solid var(--accent);
  height: 70%;
  border-radius: 1rem;
  margin: 0 0.3rem 0 0.3rem;
}

.visible {
  display: block !important;
}

.active {
  border: 0.15rem solid var(--accent) !important;
  transition: 300ms all ease;
}

.opCt {
  top: -2.9rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 300ms ease-in-out;
}

.opSg {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-suggestions {
  position: absolute;
  top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35rem;
  height: 0rem;
  overflow: hidden;
  border-bottom-left-radius: 0.3vmax;
  border-bottom-right-radius: 1.7vmax;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 0.15vmax solid var(--tertColor);
  border-bottom: none;
  border-top: none !important;
  background-color: var(--tpPri);
  -webkit-backdrop-filter: blur(0.2vmax);
          backdrop-filter: blur(0.2vmax);
  z-index: 6;
  transition: 300ms all ease;
}
.search-suggestions ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  margin: 1rem;
}
.search-suggestions ul li {
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 1.2vmax;
  border-top-right-radius: 0.3vmax;
  border-bottom-left-radius: 0.3vmax;
  border-bottom-right-radius: 1.2vmax;
  transition: 300ms all ease;
}
.search-suggestions ul li p {
  position: absolute;
  left: 0.7rem;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-suggestions ul li h6 {
  position: absolute;
  left: 18rem;
  width: 25%;
}
.search-suggestions ul li h5 {
  position: absolute;
  right: 0.7rem;
  width: 10%;
}
.search-suggestions ul li:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--accent);
  background-color: var(--tpPri);
  transition: 300ms all ease;
}
.search-suggestions .search-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.search-suggestions .search-buttons button {
  position: relative;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--tertColor);
  padding: 0.2vmax;
  border-radius: 0.5vmax;
  padding: 0.3rem;
  transition: 300ms all ease;
}
.search-suggestions .search-buttons button:hover {
  background-color: var(--tpPri);
  transition: 300ms all ease;
}
.search-suggestions .search-buttons::before {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  width: 90%;
  height: 0.1rem;
  top: -0.5rem;
}

.opCtSg {
  border-bottom: 0.15vmax solid var(--tertColor) !important;
}

.opCtS2g {
  top: 0;
  transition: top 300ms ease-in-out;
}

.ctDropDown {
  position: absolute;
  opacity: 0;
  display: flex;
  width: 80rem;
  height: 42rem;
  justify-content: space-between;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 1.7rem;
  background-color: var(--tpPri);
  border: 0.15rem solid var(--tertColor) !important;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  overflow: hidden;
  padding: 1rem;
  transform: translateY(100vh);
  transform-origin: 150% 15%;
  z-index: -10;
}
.ctDropDown ul {
  position: relative;
}
.ctDropDown .categories-ul {
  display: flex;
  min-width: 14rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ctDropDown .categories-ul li {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  margin-right: 0.7rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  --opacity: 1;
  transition: all 300ms ease;
}
.ctDropDown .categories-ul li::before {
  content: "";
  display: block;
  opacity: var(--opacity);
  width: 3rem;
  height: 3em;
  border-radius: 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
  transition: all 300ms ease;
}
.ctDropDown .categories-ul li:hover {
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
  transition: all 300ms ease;
}
.ctDropDown .categories-ul::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  width: 0.1rem;
  height: 95%;
  right: -0.5rem;
}
.ctDropDown .categories-ul #electronics::before {
  background-color: #78f5b2;
  background-image: url(../imgs/cat/tech/technology.png);
}
.ctDropDown .categories-ul #jewellery::before {
  background-color: #fff6ae;
  background-image: url(../imgs/cat/jewels/jewellery.png);
  background-size: 2.5rem;
}
.ctDropDown .categories-ul #mensWear::before {
  background-color: #ffaeef;
  background-image: url(../imgs/cat/mWear/mensWear.png);
}
.ctDropDown .categories-ul #womensWear::before {
  background-color: #aeecff;
  background-image: url(../imgs/cat/fWear/womensWear.png);
  background-position: 0.5rem 0.5rem;
}
.ctDropDown .activeCat {
  color: var(--accent);
  font-weight: 600;
  background-color: var(--paleAccent);
}
.ctDropDown .sub-categories-ul {
  display: flex;
  width: 45rem;
  flex-wrap: wrap;
}
.ctDropDown .sub-categories-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--paleAccent);
  border-top-left-radius: 2rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 2rem;
  width: 45%;
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0.5rem 1rem;
  transition: 500ms all ease;
}
.ctDropDown .sub-categories-ul li section {
  margin-right: 1rem;
}
.ctDropDown .sub-categories-ul li::before {
  content: "";
  display: block;
  width: 18rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem;
}
.ctDropDown .sub-categories-ul li.see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.ctDropDown .sub-categories-ul li.see-all::before {
  display: none;
}
.ctDropDown .sub-categories-ul li.see-all:hover {
  cursor: pointer;
  color: var(--accent);
}
.ctDropDown .sub-categories-ul li:hover {
  cursor: pointer;
  background-color: transparent;
  transition: 500ms all ease;
}
.ctDropDown .sub-categories-ul li:hover h3 {
  color: var(--accent);
}
.ctDropDown .sub-categories-ul .sub-one {
  --bgimg: url("../imgs/cat/tech/sub/pc.png");
}
.ctDropDown .sub-categories-ul .sub-one::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-two {
  --bgimg: url("../imgs/cat/tech/sub/phone.png");
}
.ctDropDown .sub-categories-ul .sub-two::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-three {
  --bgimg: url("../imgs/cat/tech/sub/wmachine.png");
}
.ctDropDown .sub-categories-ul .sub-three::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-four {
  --bgimg: url("../imgs/cat/tech/sub/xbox.png");
}
.ctDropDown .sub-categories-ul .sub-four::before {
  background-image: var(--bgimg);
}
.ctDropDown .sub-categories-ul .sub-five {
  --bgimg: url("../imgs/cat/tech/sub/switch.png");
}
.ctDropDown .sub-categories-ul .sub-five::before {
  background-image: var(--bgimg);
}
.ctDropDown .relevant-products {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ctDropDown .relevant-products li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 2rem;
  background-image: url(../imgs/cat/sub/4090.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ctDropDown .relevant-products::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  width: 0.1rem;
  height: 95%;
  left: -0.5rem;
}

.cartNotification {
  position: relative;
  min-width: 10rem;
  border-radius: 0.3vmax;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background: linear-gradient(to right, var(--accent), var(--secAccent));
  max-height: 0;
  color: black;
}
.cartNotification ul {
  position: relative;
  padding: 0.3vmax;
}
.cartNotification .notifCancel {
  position: relative;
  bottom: -0.5vmax;
  width: 100%;
  color: red;
  background-color: white;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-family: "Share Tech", sans-serif;
  padding: 0.2vmax;
  border-radius: 0.5vmax;
  transition: 300ms all ease;
  margin-bottom: 0.7rem;
}
.cartNotification .notifCancel:hover {
  color: white;
  background-color: red;
  transition: 300ms all ease;
}

nav {
  position: fixed;
  right: 1.5vmax;
  top: 1vmax;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--tpPri);
  -webkit-backdrop-filter: blur(1vmax);
          backdrop-filter: blur(1vmax);
  border-radius: 0.5vmax;
  overflow: hidden;
  z-index: 10;
}
nav .navigationLists {
  display: flex;
  justify-content: space-between;
  gap: 0.5vmax;
  margin: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
  transition: all 300ms ease;
}
nav .navigationLists li {
  position: relative;
}
nav .navigationLists li .material-symbols-outlined {
  font-size: 1.7rem;
}
nav .navigationLists li ::before {
  content: "";
  inset: 0;
  position: absolute;
  filter: blur(2vmax);
  transition: 300ms all ease;
}
nav .navigationLists li:hover {
  color: var(--accent);
  transition: 300ms all ease;
}
nav .navigationLists li:hover .material-symbols-outlined {
  color: var(--accent);
}
nav .navigationLists li:hover ::before {
  background-color: var(--accent);
}

footer {
  position: relative;
  bottom: 0;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer::after {
  content: "";
  position: absolute;
  background-color: var(--tertColor);
  height: 0.1rem;
  width: 97%;
  bottom: 4.5rem;
}
footer .contact {
  position: absolute;
  left: 30rem;
  bottom: 15rem;
  width: 60%;
}
footer .contact div {
  font-size: 2rem;
  height: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
footer .footFooter {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footFooter .legal {
  gap: 2rem;
}
footer .footFooter .legal a {
  color: var(--tertColor);
  transition: 300ms all ease;
}
footer .footFooter .legal a:hover {
  color: var(--secColor);
  transition: 300ms all ease;
}
footer .footFooter .socials {
  gap: 0.2rem;
}
footer .footFooter .socials legend {
  transition: 300ms all ease;
  color: var(--tertColor);
  font-size: 1.1rem;
  font-weight: 550;
  font-family: "Oleo Script", cursive;
  margin-right: 1rem;
}
footer .footFooter .socials legend:hover {
  color: var(--secColor);
  transition: 300ms all ease;
  cursor: default;
}
footer .footFooter .socials svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--tertColor);
  transition: 300ms all ease;
}
footer .footFooter .socials svg:hover {
  transition: 300ms all ease;
}
footer .footFooter .socials #insta:hover {
  fill: rgb(255, 0, 191);
}
footer .footFooter .socials #facebook:hover {
  fill: rgb(0, 162, 255);
}
footer .footFooter .socials #git:hover {
  fill: var(--secColor);
}
footer .footFooter .socials #youtube:hover {
  fill: rgb(255, 0, 0);
}
footer .footFooter ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
footer .footFooter li {
  display: flex;
  justify-content: center;
}
footer .footFooter li:hover {
  color: var(--secColor);
}
footer .footerGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--priColor)), radial-gradient(circle at right bottom, transparent 50%, rgba(0, 0, 0, 0), var(--priColor) 120%);
}

.footerBackgroundImage {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  transform: rotate(180deg);
  z-index: -9;
}
.footerBackgroundImage svg {
  position: absolute;
  fill: transparent;
}
.footerBackgroundImage svg #polgOne {
  fill: var(--accent);
}
.footerBackgroundImage svg #polgTwo {
  fill: var(--secAccent);
}
.footerBackgroundImage svg #polgThree {
  fill: var(--tertAccent);
}

main {
  min-height: 100vh;
}

.mainCategories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCategories section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
}

.loginDropdown {
  display: flex;
  justify-content: center;
  border: 0.15rem solid var(--tertColor);
  border-radius: 1.5rem;
  width: 45rem;
  height: 35rem;
  overflow: hidden;
  z-index: 15;
  transform: translateY(-100vh);
  opacity: 0;
  transition: 400ms all ease-in-out;
}
.loginDropdown form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.loginDropdown form div {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginDropdown form button {
  position: relative;
  bottom: -0.5vmax;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5vmax;
  transition: 300ms all ease;
}
.loginDropdown form button:hover {
  background-color: var(--accent);
  transition: 300ms all ease;
}
.loginDropdown a {
  color: var(--secColor);
}
.loginDropdown .loginUi {
  gap: 1rem;
  background-color: var(--tpPri);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}
.loginDropdown .loginUi section {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: -5rem;
}
.loginDropdown .loginUi section div {
  flex-direction: row;
}
.loginDropdown .loginUi .loginInput div {
  position: relative;
}
.loginDropdown .loginUi .loginInput input {
  position: relative;
  width: 14rem;
  height: 2.5rem;
  text-indent: 0.5rem;
  background-color: transparent;
  color: var(--secColor);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border: 0.15rem solid var(--tertColor);
  border-radius: 0.5rem;
  outline: none;
  caret-color: var(--secColor);
  margin: 0.2rem;
}
.loginDropdown .loginUi .loginInput input:focus {
  border: 0.15rem solid var(--accent);
}
.loginDropdown .loginUi .loginInput input::-moz-placeholder {
  color: var(--secColor);
}
.loginDropdown .loginUi .loginInput input::placeholder {
  color: var(--secColor);
}
.loginDropdown .loginUi .loginInput label {
  position: absolute;
  top: 0.7rem;
  z-index: 1;
  pointer-events: none;
  transition: 300ms all ease;
}
.loginDropdown .loginUi .loginFunc {
  margin-top: 1rem;
}
.loginDropdown .loginUi .loginFunc section a {
  font-size: 0.8rem;
}
.loginDropdown .registerUi {
  background-color: var(--paleAccent);
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  gap: 2rem;
}
.loginDropdown svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--secColor);
  transition: 300ms all ease;
}
.loginDropdown svg:hover {
  transition: 300ms all ease;
}
.loginDropdown svg#facebook:hover {
  fill: rgb(0, 162, 255);
}
.loginDropdown svg#git:hover {
  fill: var(--accent);
}
.loginDropdown svg#google:hover {
  fill: rgb(255, 0, 0);
}

.on {
  transform: translateY(0vh);
  opacity: 1;
  transition: 400ms all ease-in-out;
}/*# sourceMappingURL=styles.css.map */